swagger: '2.0'
info:
  title: WebApps API Client AppServiceEnvironments AppServicePlans API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: AppServicePlans
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms:
    get:
      operationId: AppServicePlans_List
      tags:
      - AppServicePlans
      summary: Get all App Service plans for a subscription.
      description: Description for Get all App Service plans for a subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - name: detailed
        in: query
        description: 'Specify <code>true</code> to return all App Service plan properties. The default is <code>false</code>, which returns a subset of the properties.

          Retrieval of all properties may increase the API latency.'
        required: false
        type: boolean
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServicePlanCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List App Service plans:
          $ref: ./examples/ListAppServicePlans.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms:
    get:
      operationId: AppServicePlans_ListByResourceGroup
      tags:
      - AppServicePlans
      summary: Get all App Service plans in a resource group.
      description: Description for Get all App Service plans in a resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServicePlanCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List App Service plans by resource group:
          $ref: ./examples/ListAppServicePlansByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}:
    get:
      operationId: AppServicePlans_Get
      tags:
      - AppServicePlans
      summary: Get an App Service plan.
      description: Description for Get an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServicePlan'
        '404':
          description: The server cannot find the requested resource.
          x-ms-error-response: true
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get App Service plan:
          $ref: ./examples/GetAppServicePlan.json
    put:
      operationId: AppServicePlans_CreateOrUpdate
      tags:
      - AppServicePlans
      summary: Creates or updates an App Service Plan.
      description: Description for Creates or updates an App Service Plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: appServicePlan
        in: body
        description: Details of the App Service plan.
        required: true
        schema:
          $ref: '#/definitions/AppServicePlan'
      responses:
        '200':
          description: Resource 'AppServicePlan' update operation succeeded
          schema:
            $ref: '#/definitions/AppServicePlan'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/AppServicePlan'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create Or Update App Service plan:
          $ref: ./examples/CreateOrUpdateAppServicePlan.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/AppServicePlan'
      x-ms-long-running-operation: true
    patch:
      operationId: AppServicePlans_Update
      tags:
      - AppServicePlans
      summary: Creates or updates an App Service Plan.
      description: Description for Creates or updates an App Service Plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: appServicePlan
        in: body
        description: Details of the App Service plan.
        required: true
        schema:
          $ref: '#/definitions/AppServicePlanPatchResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServicePlan'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/AppServicePlan'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Patch Service plan:
          $ref: ./examples/PatchAppServicePlan.json
    delete:
      operationId: AppServicePlans_Delete
      tags:
      - AppServicePlans
      summary: Delete an App Service plan.
      description: Description for Delete an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete App Service plan:
          $ref: ./examples/DeleteAppServicePlan.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/capabilities:
    get:
      operationId: AppServicePlans_ListCapabilities
      tags:
      - AppServicePlans
      summary: List all capabilities of an App Service plan.
      description: Description for List all capabilities of an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/Capability'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/getrdppassword
  : post:
      operationId: AppServicePlans_GetServerFarmRdpPassword
      tags:
      - AppServicePlans
      summary: Get the RDP password for an IsCustomMode ServerFarm.
      description: Description for Get the RDP password for an IsCustomMode ServerFarm.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ServerFarmRdpDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}
  : get:
      operationId: AppServicePlans_GetHybridConnection
      tags:
      - AppServicePlans
      summary: Retrieve a Hybrid Connection in use in an App Service plan.
      description: Description for Retrieve a Hybrid Connection in use in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: namespaceName
        in: path
        description: Name of the Service Bus namespace.
        required: true
        type: string
      - name: relayName
        in: path
        description: Name of the Service Bus relay.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/HybridConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
    delete:
      operationId: AppServicePlans_DeleteHybridConnection
      tags:
      - AppServicePlans
      summary: Delete a Hybrid Connection in use in an App Service plan.
      description: Description for Delete a Hybrid Connection in use in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: namespaceName
        in: path
        description: Name of the Service Bus namespace.
        required: true
        type: string
      - name: relayName
        in: path
        description: Name of the Service Bus relay.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/listKeys
  : post:
      operationId: AppServicePlans_ListHybridConnectionKeys
      tags:
      - AppServicePlans
      summary: Get the send key name and value of a Hybrid Connection.
      description: Description for Get the send key name and value of a Hybrid Connection.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: namespaceName
        in: path
        description: Name of the Service Bus namespace.
        required: true
        type: string
      - name: relayName
        in: path
        description: Name of the Service Bus relay.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/HybridConnectionKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/sites
  : get:
      operationId: AppServicePlans_ListWebAppsByHybridConnection
      tags:
      - AppServicePlans
      summary: Get all apps that use a Hybrid Connection in an App Service Plan.
      description: Description for Get all apps that use a Hybrid Connection in an App Service Plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: namespaceName
        in: path
        description: Name of the Service Bus namespace.
        required: true
        type: string
      - name: relayName
        in: path
        description: Name of the Service Bus relay.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionPlanLimits/limit
  : get:
      operationId: AppServicePlans_GetHybridConnectionPlanLimit
      tags:
      - AppServicePlans
      summary: Get the maximum number of Hybrid Connections allowed in an App Service plan.
      description: Description for Get the maximum number of Hybrid Connections allowed in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/HybridConnectionLimits'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionRelays
  : get:
      operationId: AppServicePlans_ListHybridConnections
      tags:
      - AppServicePlans
      summary: Retrieve all Hybrid Connections in use in an App Service plan.
      description: Description for Retrieve all Hybrid Connections in use in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/HybridConnectionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/listinstances
  : post:
      operationId: AppServicePlans_GetServerFarmInstanceDetails
      tags:
      - AppServicePlans
      summary: Get the instance details for an app service plan.
      description: Description for Get the instance details for an app service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ServerFarmInstanceDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/restartSites:
    post:
      operationId: AppServicePlans_RestartWebApps
      tags:
      - AppServicePlans
      summary: Restart all apps in an App Service plan.
      description: Description for Restart all apps in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: softRestart
        in: query
        description: Specify <code>true</code> to perform a soft restart, applies the configuration settings and restarts the apps if necessary. The default is <code>false</code>, which always restarts and reprovisions the apps
        required: false
        type: boolean
      responses:
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/sites:
    get:
      operationId: AppServicePlans_ListWebApps
      tags:
      - AppServicePlans
      summary: Get all apps associated with an App Service plan.
      description: Description for Get all apps associated with an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: $skipToken
        in: query
        description: Skip to a web app in the list of webapps associated with app service plan. If specified, the resulting list will contain web apps starting from (including) the skipToken. Otherwise, the resulting list contains web apps from the start of the list
        required: false
        type: string
      - name: $filter
        in: query
        description: 'Supported filter: $filter=state eq running. Returns only web apps that are currently running'
        required: false
        type: string
      - name: $top
        in: query
        description: List page size. If specified, results are paged.
        required: false
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WebAppCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/skus:
    get:
      operationId: AppServicePlans_GetServerFarmSkus
      tags:
      - AppServicePlans
      summary: Gets all selectable SKUs for a given App Service Plan
      description: Description for Gets all selectable SKUs for a given App Service Plan
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/usages:
    get:
      operationId: AppServicePlans_ListUsages
      tags:
      - AppServicePlans
      summary: Gets server farm usage information
      description: Description for Gets server farm usage information
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: $filter
        in: query
        description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'').'
        required: false
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/CsmUsageQuotaCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections
  : get:
      operationId: AppServicePlans_ListVnets
      tags:
      - AppServicePlans
      summary: Get all Virtual Networks associated with an App Service plan.
      description: Description for Get all Virtual Networks associated with an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VnetInfoResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}
  : get:
      operationId: AppServicePlans_GetVnetFromServerFarm
      tags:
      - AppServicePlans
      summary: Get a Virtual Network associated with an App Service plan.
      description: Description for Get a Virtual Network associated with an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/VnetInfoResource'
        '404':
          description: The server cannot find the requested resource.
          x-ms-error-response: true
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/gateways/{gatewayName}
  : get:
      operationId: AppServicePlans_GetVnetGateway
      tags:
      - AppServicePlans
      summary: Get a Virtual Network gateway.
      description: Description for Get a Virtual Network gateway.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      - name: gatewayName
        in: path
        description: Name of the gateway. Only the 'primary' gateway is supported.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/VnetGateway'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
    put:
      operationId: AppServicePlans_UpdateVnetGateway
      tags:
      - AppServicePlans
      summary: Update a Virtual Network gateway.
      description: Description for Update a Virtual Network gateway.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      - name: gatewayName
        in: path
        description: Name of the gateway. Only the 'primary' gateway is supported.
        required: true
        type: string
      - name: connectionEnvelope
        in: body
        description: Definition of the gateway.
        required: true
        schema:
          $ref: '#/definitions/VnetGateway'
      responses:
        '200':
          description: Resource 'VnetGateway' update operation succeeded
          schema:
            $ref: '#/definitions/VnetGateway'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes
  : get:
      operationId: AppServicePlans_ListRoutesForVnet
      tags:
      - AppServicePlans
      summary: Get all routes that are associated with a Virtual Network in an App Service plan.
      description: Description for Get all routes that are associated with a Virtual Network in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VnetRoute'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes/{routeName}
  : get:
      operationId: AppServicePlans_GetRouteForVnet
      tags:
      - AppServicePlans
      summary: Get a Virtual Network route in an App Service plan.
      description: Description for Get a Virtual Network route in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      - name: routeName
        in: path
        description: Name of the Virtual Network route.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/VnetRoute'
        '404':
          description: The server cannot find the requested resource.
          x-ms-error-response: true
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
    put:
      operationId: AppServicePlans_CreateOrUpdateVnetRoute
      tags:
      - AppServicePlans
      summary: Create or update a Virtual Network route in an App Service plan.
      description: Description for Create or update a Virtual Network route in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      - name: routeName
        in: path
        description: Name of the Virtual Network route.
        required: true
        type: string
      - name: route
        in: body
        description: Definition of the Virtual Network route.
        required: true
        schema:
          $ref: '#/definitions/VnetRoute'
      responses:
        '200':
          description: Resource 'VnetRoute' update operation succeeded
          schema:
            $ref: '#/definitions/VnetRoute'
        '400':
          description: The server could not understand the request due to invalid syntax.
          x-ms-error-response: true
        '404':
          description: The server cannot find the requested resource.
          x-ms-error-response: true
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
    patch:
      operationId: AppServicePlans_UpdateVnetRoute
      tags:
      - AppServicePlans
      summary: Create or update a Virtual Network route in an App Service plan.
      description: Description for Create or update a Virtual Network route in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      - name: routeName
        in: path
        description: Name of the Virtual Network route.
        required: true
        type: string
      - name: route
        in: body
        description: Definition of the Virtual Network route.
        required: true
        schema:
          $ref: '#/definitions/VnetRoute'
      responses:
        '200':
          description: Resource 'VnetRoute' update operation succeeded
          schema:
            $ref: '#/definitions/VnetRoute'
        '400':
          description: The server could not understand the request due to invalid syntax.
          x-ms-error-response: true
        '404':
          description: The server cannot find the requested resource.
          x-ms-error-response: true
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
    delete:
      operationId: AppServicePlans_DeleteVnetRoute
      tags:
      - AppServicePlans
      summary: Delete a Virtual Network route in an App Service plan.
      description: Description for Delete a Virtual Network route in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service plan.
        required: true
        type: string
      - name: vnetName
        in: path
        description: Name of the Virtual Network.
        required: true
        type: string
      - name: routeName
        in: path
        description: Name of the Virtual Network route.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '404':
          description: The server cannot find the requested resource.
          x-ms-error-response: true
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Web/serverfarms/{name}/workers/{workerName}/reboot
  : post:
      operationId: AppServicePlans_RebootWorker
      tags:
      - AppServicePlans
      summary: Reboot a worker machine in an App Service plan.
      description: Description for Reboot a worker machine in an App Service plan.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: App Service plan.
        required: true
        type: string
      - name: workerName
        in: path
        description: Name of worker machine, which typically starts with RD.
        required: true
        type: string
      responses:
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Web/serverfarms/{name}/workers/{workerName}/recycleinstance
  : post:
      operationId: AppServicePlans_RecycleManagedInstanceWorker
      tags:
      - AppServicePlans
      summary: Recycles a managed instance worker machine.
      description: Description for Recycles a managed instance worker machine.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: App Service plan.
        required: true
        type: string
      - name: workerName
        in: path
        description: Name of worker machine, which typically starts with RD.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/Operation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
definitions:
  ErrorEntity:
    type: object
    description: Body of the error response returned from the API.
    properties:
      extendedCode:
        type: string
        description: Type of error.
      messageTemplate:
        type: string
        description: Message template.
      parameters:
        type: array
        description: Parameters for the template.
        items:
          type: string
      innerErrors:
        type: array
        description: Inner errors.
        items:
          $ref: '#/definitions/ErrorEntity'
        x-ms-identifiers: []
      details:
        type: array
        description: Error Details.
        items:
          $ref: '#/definitions/ErrorEntity'
        x-ms-identifiers: []
      target:
        type: string
        description: The error target.
      code:
        type: string
        description: Basic error code.
      message:
        type: string
        description: Any details of the error.
  ApiManagementConfig:
    type: object
    description: Azure API management (APIM) configuration linked to the app.
    properties:
      id:
        type: string
        description: APIM-Api Identifier.
  FunctionsScaleAndConcurrencyTriggers:
    type: object
    description: Scale and concurrency settings for the function app triggers.
    properties:
      http:
        $ref: '#/definitions/FunctionsScaleAndConcurrencyTriggersHttp'
        description: Scale and concurrency settings for the HTTP trigger.
  FunctionsDeploymentStorageAuthentication:
    type: object
    description: Authentication method to access the storage account for deployment.
    properties:
      type:
        $ref: '#/definitions/AuthenticationType'
        description: 'Property to select authentication type to access the selected storage account. Available options: SystemAssignedIdentity, UserAssignedIdentity, StorageAccountConnectionString.'
      userAssignedIdentityResourceId:
        type: string
        description: Use this property for UserAssignedIdentity. Set the resource ID of the identity. Do not set a value for this property when using other authentication type.
      storageAccountConnectionStringName:
        type: string
        description: Use this property for StorageAccountConnectionString. Set the name of the app setting that has the storage account connection string. Do not set a value for this property when using other authentication type.
  RedundancyMode:
    type: string
    description: Site redundancy mode
    enum:
    - None
    - Manual
    - Failover
    - ActiveActive
    - GeoRedundant
    x-ms-enum:
      name: RedundancyMode
      modelAsString: false
  RuntimeName:
    type: string
    description: 'Function app runtime name. Available options: dotnet-isolated, node, java, powershell, python, custom'
    enum:
    - dotnet-isolated
    - node
    - java
    - powershell
    - python
    - custom
    x-ms-enum:
      name: RuntimeName
      modelAsString: true
      values:
      - name: dotnet-isolated
        value: dotnet-isolated
      - name: node
        value: node
      - name: java
        value: java
      - name: powershell
        value: powershell
      - name: python
        value: python
      - name: custom
        value: custom
  HybridConnectionCollection:
    type: object
    description: Collection of hostname bindings.
    properties:
      value:
        type: array
        description: The HybridConnection items on this page
        items:
          $ref: '#/definitions/HybridConnection'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  RampUpRule:
    type: object
    description: Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance.
    properties:
      actionHostName:
        type: string
        description: Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net.
      reroutePercentage:
        type: number
        format: double
        description: Percentage of the traffic which will be redirected to <code>ActionHostName</code>.
      changeStep:
        type: number
        format: double
        description: 'In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or

          <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm

          can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.'
      changeIntervalInMinutes:
        type: integer
        format: int32
        description: Specifies interval in minutes to reevaluate ReroutePercentage.
      minReroutePercentage:
        type: number
        format: double
        description: Specifies lower boundary above which ReroutePercentage will stay.
      maxReroutePercentage:
        type: number
        format: double
        description: Specifies upper boundary below which ReroutePercentage will stay.
      changeDecisionCallbackUrl:
        type: string
        description: Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified.
      name:
        type: string
        description: Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment.
  ResourceConfig:
    type: object
    description: Function app resource requirements.
    properties:
      cpu:
        type: number
        format: double
        description: Required CPU in cores, e.g. 0.5
      memory:
        type: string
        description: Required memory, e.g. "1Gi"
  VnetRouteProperties:
    type: object
    description: VnetRoute resource specific properties
    properties:
      startAddress:
        type: string
        description: The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.
      endAddress:
        type: string
        description: The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.
      routeType:
        $ref: '#/definitions/RouteType'
        description: 'The type of route this is:

          DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918

          INHERITED - Routes inherited from the real Virtual Network routes

          STATIC - Static route set on the app only


          These values will be used for syncing an app''s routes with those from a Virtual Network.'
  AzureStorageInfoValue:
    type: object
    description: Azure Files or Blob Storage access information value for dictionary storage.
    properties:
      type:
        $ref: '#/definitions/AzureStorageType'
        description: Type of storage.
      accountName:
        type: string
        description: Name of the storage account.
      shareName:
        type: string
        description: Name of the file share (container name, for Blob storage).
      accessKey:
        type: string
        format: password
        description: Access key for the storage account.
        x-ms-secret: true
      mountPath:
        type: string
        description: Path to mount the storage within the site's runtime environment.
      state:
        $ref: '#/definitions/AzureStorageState'
        description: State of the storage account.
        readOnly: true
      protocol:
        $ref: '#/definitions/AzureStorageProtocol'
        description: Mounting protocol to use for the storage account.
  Operation:
    type: object
    description: An operation on a resource.
    properties:
      id:
        type: string
        description: Operation ID.
      name:
        type: string
        description: Operation name.
      status:
        $ref: '#/definitions/OperationStatus'
        description: The current status of the operation.
      errors:
        type: array
        description: Any errors associate with the operation.
        items:
          $ref: '#/definitions/ErrorEntity'
        x-ms-identifiers: []
      createdTime:
        type: string
        format: date-time
        description: Time when operation has started.
      modifiedTime:
        type: string
        format: date-time
        description: Time when operation has been updated.
      expirationTime:
        type: string
        format: date-time
        description: Time when operation will expire.
      geoMasterOperationId:
        type: string
        format: uuid
        description: Applicable only for stamp operation ids.
  SkuCapacity:
    type: object
    description: Description of the App Service plan scale options.
    properties:
      minimum:
        type: integer
        format: int32
        description: Minimum number of workers for this App Service plan SKU.
      maximum:
        type: integer
        format: int32
        description: Maximum number of workers for this App Service plan SKU.
      elasticMaximum:
        type: integer
        format: int32
        description: Maximum number of Elastic workers for this App Service plan SKU.
      default:
        type: integer
        format: int32
        description: Default number of workers for this App Service plan SKU.
      scaleType:
        type: string
        description: Available scale configurations for an App Service plan.
  StorageMountType:
    type: string
    description: Type of the storage mount.
    enum:
    - AzureFiles
    - LocalStorage
    - FileShare
    x-ms-enum:
      name: StorageMountType
      modelAsString: true
      values:
      - name: AzureFiles
        value: AzureFiles
      - name: LocalStorage
        value: LocalStorage
      - name: FileShare
        value: FileShare
  FunctionsAlwaysReadyConfig:
    type: object
    description: Sets the number of 'Always Ready' instances for a function group or a specific function.
    properties:
      name:
        type: string
        description: Either a function group or a function name is required. For additional information see https://aka.ms/flexconsumption/alwaysready.
      instanceCount:
        type: integer
        format: int32
        description: Sets the number of 'Always Ready' instances for a given function group or a specific function. For additional information see https://aka.ms/flexconsumption/alwaysready.
  ConnectionStringType:
    type: string
    description: Type of database.
    enum:
    - MySql
    - SQLServer
    - SQLAzure
    - Custom
    - NotificationHub
    - ServiceBus
    - EventHub
    - ApiHub
    - DocDb
    - RedisCache
    - PostgreSQL
    x-ms-enum:
      name: ConnectionStringType
      modelAsString: false
  ServerFarmInstanceDetails:
    type: object
    description: Represents instance details for an app service plan.
    properties:
      serverFarmName:
        type: string
        description: The server farm name.
      instances:
        type: array
        description: The list of server farm instances.
        items:
          $ref: '#/definitions/ServerFarmInstance'
        x-ms-identifiers: []
      instanceCount:
        type: integer
        format: int32
        description: The total number of instances.
  AzureStorageType:
    type: string
    description: Type of storage.
    enum:
    - AzureFiles
    - AzureBlob
    x-ms-enum:
      name: AzureStorageType
      modelAsString: false
  AutoHealActionType:
    type: string
    description: Predefined action to be taken.
    enum:
    - Recycle
    - LogEvent
    - CustomAction
    x-ms-enum:
      name: AutoHealActionType
      modelAsString: false
  WebAppCollection:
    type: object
    description: Collection of App Service apps.
    properties:
      value:
        type: array
        description: The Site items on this page
        items:
          $ref: '#/definitions/Site'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  PushSettings:
    type: object
    description: Push settings for the App.
    properties:
      properties:
        $ref: '#/definitions/PushSettingsProperties'
        description: PushSettings resource specific properties
        x-ms-client-flatten: true
    allOf:
    - $ref: '#/definitions/ProxyOnlyResource'
  PushSettingsProperties:
    type: object
    description: PushSettings resource specific properties
    properties:
      isPushEnabled:
        type: boolean
        description: Gets or sets a flag indicating whether the Push endpoint is enabled.
      tagWhitelistJson:
        type: string
        description: Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint.
      tagsRequiringAuth:
        type: string
        description: "Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."
      dynamicTagsJson:
        type: string
        description: Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint.
    required:
    - isPushEnabled
  KeyVaultReferenceWithStatus:
    type: object
    description: Object to hold key vault reference and the resolution status
    properties:
      secretUri:
        type: string
        description: Key vault secret URI.
      referenceStatus:
        type: string
        description: Reference status of the key vault secret.
  AppServicePlanPatchResourceProperties:
    type: object
    description: AppServicePlanPatchResource resource specific properties
    properties:
      workerTierName:
        type: string
        description: Target worker tier assigned to the App Service plan.
      status:
        $ref: '#/definitions/StatusOptions'
        description: App Service plan status.
        readOnly: true
      subscription:
        type: string
        description: App Service plan subscription.
        readOnly: true
      hostingEnvironmentProfile:
        $ref: '#/definitions/HostingEnvironmentProfile'
        description: Specification for the App Service Environment to use for the App Service plan.
        x-ms-mutability:
        - read
        - create
      maximumNumberOfWorkers:
        type: integer
        format: int32
        description: Maximum number of instances that can be assigned to this App Service plan.
        readOnly: true
      numberOfWorkers:
        type: integer
        format: int32
        description: The number of instances that are assigned to this App Service plan.
        readOnly: true
      geoRegion:
        type: string
        description: Geographical location for the App Service plan.
        readOnly: true
      perSiteScaling:
        type: boolean
        description: 'If <code>true</code>, apps assigned to this App Service plan can be scaled independently.

          If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.'
        default: false
      elasticScaleEnabled:
        type: boolean
        description: ServerFarm supports ElasticScale. Apps in this plan will scale as if the ServerFarm was ElasticPremium sku
      maximumElasticWorkerCount:
        type: integer
        format: int32
        description: Maximum number of total workers allowed for this ElasticScaleEnabled App Service Plan
      numberOfSites:
        type: integer
        format: int32
        description: Number of apps assigned to this App Service plan.
        readOnly: true
      isSpot:
        type: boolean
        description: If <code>true</code>, this App Service Plan owns spot instances.
      spotExpirationTime:
        type: string
        format: date-time
        description: The time when the server farm expires. Valid only if it is a spot server farm.
      freeOfferExpirationTime:
        type: string
        format: date-time
        description: The time when the server farm free offer expires.
      resourceGroup:
        type: string
        description: Resource group of the App Service plan.
        readOnly: true
      reserved:
        type: boolean
        description: If Linux app service plan <code>true</code>, <code>false</code> otherwise.
        default: false
        x-ms-mutability:
        - read
        - create
      isXenon:
        type: boolean
        description: 'Obsolete: If Hyper-V container app service plan <code>true</code>, <code>false</code> otherwise.'
        default: false
        x-ms-mutability:
        - read
        - create
      hyperV:
        type: boolean
        description: If Hyper-V container app service plan <code>true</code>, <code>false</code> otherwise.
        default: false
        x-ms-mutability:
        - read
        - create
      targetWorkerCount:
        type: integer
        format: int32
        description: Scaling worker count.
      targetWorkerSizeId:
        type: integer
        format: int32
        description: Scaling worker size ID.
      provisioningState:
        $ref: '#/definitions/ProvisioningState'
        description: Provisioning state of the App Service Plan.
        readOnly: true
      kubeEnvironmentProfile:
        $ref: '#/definitions/KubeEnvironmentProfile'
        description: Specification for the Kubernetes Environment to use for the App Service plan.
      zoneRedundant:
        type: boolean
        description: 'If <code>true</code>, this App Service Plan will perform availability zone balancing.

          If <code>false</code>, this App Service Plan will not perform availability zone balancing.'
        default: false
  FunctionsRuntime:
    type: object
    description: Function app runtime name and version.
    properties:
      name:
        $ref: '#/definitions/RuntimeName'
        description: 'Function app runtime name. Available options: dotnet-isolated, node, java, powershell, python, custom'
      version:
        type: string
        description: 'Function app runtime version. Example: 8 (for dotnet-isolated)'
        x-nullable: true
  ManagedServiceIdentityType:
    type: string
    description: Type of managed service identity.
    enum:
    - SystemAssigned
    - UserAssigned
    - SystemAssigned, UserAssigned
    - None
    x-ms-enum:
      name: ManagedServiceIdentityType
      modelAsString: false
  FtpsState:
    type: string
    description: State of FTP / FTPS service
    enum:
    - AllAllowed
    - FtpsOnly
    - Disabled
    x-ms-enum:
      name: FtpsState
      modelAsString: true
      values:
      - name: AllAllowed
        value: AllAllowed
      - name: FtpsOnly
        value: FtpsOnly
      - name: Disabled
        value: Disabled
  OutboundVnetRouting:
    type: object
    description: Outbound traffic options over virtual network.
    properties:
      allTraffic:
        type: boolean
        description: Enables all other routing options defined in OutboundVnetRouting if this setting is set to true.
      applicationTraffic:
        type: boolean
        description: This causes all outbound traffic to have Virtual Network Security Groups and User Defined Routes applied. Previously called VnetRouteAllEnabled.
      contentShareTraffic:
        type: boolean
        description: Enables accessing content over virtual network. Previously called VnetContentShareEnabled
      imagePullTraffic:
        type: boolean
        description: Enables pulling image over Virtual Network. Previously called VnetImagePullEnabled.
      backupRestoreTraffic:
        type: boolean
        description: Enables Backup and Restore operations over virtual network. Previously called VnetBackupRestoreEnabled
  VnetRoute:
    type: object
    description: Virtual Network route contract used to pass routing information for a Virtual Network.
    properties:
      properties:
        $ref: '#/definitions/VnetRouteProperties'
        description: VnetRoute resource specific properties
        x-ms-client-flatten: true
      kind:
        type: string
        description: Kind of resource.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  SlotSwapStatus:
    type: object
    description: The status of the last successful slot swap operation.
    properties:
      timestampUtc:
        type: string
        format: date-time
        description: The time the last successful slot swap completed.
        readOnly: true
      sourceSlotName:
        type: string
        description: The source slot of the last swap operation.
        readOnly: true
      destinationSlotName:
        type: string
        description: The destination slot of the last swap operation.
        readOnly: true
  AutoHealCustomAction:
    type: object
    description: 'Custom action to be executed

      when an auto heal rule is triggered.'
    properties:
      exe:
        type: string
        description: Executable to be run.
      parameters:
        type: string
        description: Parameters for the executable.
  AppServicePlanPatchResource:
    type: object
    description: ARM resource for a app service plan.
    properties:
      properties:
        $ref: '#/definitions/AppServicePlanPatchResourceProperties'
        description: AppServicePlanPatchResource resource specific properties
        x-ms-client-flatten: true
      identity:
        $ref: '#/definitions/ManagedServiceIdentity'
        description: Managed service identity.
    allOf:
    - $ref: '#/definitions/ProxyOnlyResource'
  KubeEnvironmentProfile:
    type: object
    description: Specification for a Kubernetes Environment to use for this resource.
    properties:
      id:
        type: string
        description: Resource ID of the Kubernetes Environment.
      name:
        type: string
        description: Name of the Kubernetes Environment.
        readOnly: true
      type:
        type: string
        description: Resource type of the Kubernetes Environment.
        readOnly: true
  AutoHealTriggers:
    type: object
    description: Triggers for auto-heal.
    properties:
      requests:
        $ref: '#/definitions/RequestsBasedTrigger'
        description: A rule based on total requests.
      privateBytesInKB:
        type: integer
        format: int32
        description: A rule based on private bytes.
      statusCodes:
        type: array
        description: A rule based on status codes.
        items:
          $ref: '#/definitions/StatusCodesBasedTrigger'
        x-ms-identifiers:
        - path
      slowRequests:
        $ref: '#/definitions/SlowRequestsBasedTrigger'
        description: A rule based on request execution time.
      slowRequestsWithPath:
        type: array
        description: A rule based on multiple Slow Requests Rule with path
        items:
          $ref: '#/definitions/SlowRequestsBasedTrigger'
        x-ms-identifiers:
        - path
      statusCodesRange:
        type: array
        description: A rule based on status codes ranges.
        items:
          $ref: '#/definitions/StatusCodesRangeBasedTrigger'
        x-ms-identifiers:
        - path
  VnetGatewayProperties:
    type: object
    description: VnetGateway resource specific properties
    properties:
      vnetName:
        type: string
        description: The Virtual Network name.
        x-ms-mutability:
        - read
        - create
      vpnPackageUri:
        type: string
        description: The URI where the VPN package can be downloaded.
        x-ms-mutability:
        - update
        - create
    required:
    - vpnPackageUri
  HybridConnectionProperties:
    type: object
    description: HybridConnection resource specific properties
    properties:
      serviceBusNamespace:
        type: string
        description: The name of the Service Bus namespace.
        x-ms-mutability:
        - read
        - create
      relayName:
        type: string
        description: The name of the Service Bus relay.
        x-ms-mutability:
        - read
        - create
      relayArmUri:
        type: string
        description: The ARM URI to the Service Bus relay.
      hostname:
        type: string
        description: The hostname of the endpoint.
      port:
        type: integer
        format: int32
        description: The port of the endpoint.
      sendKeyName:
        type: string
        description: The name of the Service Bus key which has Send permissions. This is used to authenticate to Service Bus.
      sendKeyValue:
        type: string
        description: 'The value of the Service Bus key. This is used to authenticate to Service Bus. In ARM this key will not be returned

          normally, use the POST /listKeys API instead.'
      serviceBusSuffix:
        type: string
        description: The suffix for the service bus endpoint. By default this is .servicebus.windows.net
  SslState:
    type: string
    description: SSL type
    enum:
    - Disabled
    - SniEnabled
    - IpBasedEnabled
    x-ms-enum:
      name: SslState
      modelAsString: false
  HandlerMapping:
    type: object
    description: 'The IIS handler mappings used to define which handler processes HTTP requests with certain extension.

      For example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension.'
    properties:
      extension:
        type: string
        description: Requests with this extension will be handled using the specified FastCGI application.
      scriptProcessor:
        type: string
        description: The absolute path to the FastCGI application.
      arguments:
        type: string
        description: Command-line arguments to be passed to the script processor.
  OperationStatus:
    type: string
    description: The current status of the operation.
    enum:
    - InProgress
    - Failed
    - Succeeded
    - TimedOut
    - Created
    x-ms-enum:
      name: OperationStatus
      modelAsString: false
  SlowRequestsBasedTrigger:
    type: object
    description: Trigger based on request execution time.
    properties:
      timeTaken:
        type: string
        description: Time taken.
      path:
        type: string
        description: Request Path.
      count:
        type: integer
        format: int32
        description: Request Count.
      timeInterval:
        type: string
        description: Time interval.
  ResourceCollection:
    type: object
    description: Collection of resources.
    properties:
      value:
        type: array
        description: Collection of resources.
        items:
          type: string
      nextLink:
        type: string
        description: Link to next page of resources.
    required:
    - value
  AzureStorageState:
    type: string
    description: State of the storage account.
    enum:
    - Ok
    - InvalidCredentials
    - InvalidShare
    - NotValidated
    x-ms-enum:
      name: AzureStorageState
      modelAsString: false
  AutoHealActions:
    type: object
    description: Actions which to take by the auto-heal module when a rule is triggered.
    properties:
      actionType:
        $ref: '#/definitions/AutoHealActionType'
        description: Predefined action to be taken.
      customAction:
        $ref: '#/definitions/AutoHealCustomAction'
        description: Custom action to be taken.
      minProcessExecutionTime:
        type: string
        description: 'Minimum time the process must execute

          before taking the action'
  ServerFarmInstance:
    type: object
    description: Represents details of a single instance in a server farm.
    properties:
      instanceName:
        type: string
        description: The instance name.
        minLength: 1
        maxLength: 64
        pattern: ^[a-zA-Z0-9]+$
      ipAddress:
        type: string
        description: The instance IP address.
      status:
        type: string
        description: The instance status.
  AutoHealRules:
    type: object
    description: Rules that can be defined for auto-heal.
    properties:
      triggers:
        $ref: '#/definitions/AutoHealTriggers'
        description: Conditions that describe when to execute the auto-heal actions.
      actions:
        $ref: '#/definitions/AutoHealActions'
        description: Actions to be executed when a rule is triggered.
  IpSecurityRestriction:
    type: object
    description: IP security restriction on an app.
    properties:
      ipAddress:
        type: string
        description: 'IP address the security restriction is valid for.

          It can be in form of pure ipv4 address (required SubnetMask property) or

          CIDR notation such as ipv4/mask (leading bit match). For CIDR,

          SubnetMask property must not be specified.'
      subnetMask:
        type: string
        description: Subnet mask for the range of IP addresses the restriction is valid for.
      vnetSubnetResourceId:
        type: string
        description: Virtual network resource id
      vnetTrafficTag:
        type: integer
        format: int32
        description: (internal) Vnet traffic tag
      subnetTrafficTag:
        type: integer
        format: int32
        description: (internal) Subnet traffic tag
      action:
        type: string
        description: Allow or Deny access for this IP range.
      tag:
        $ref: '#/definitions/IpFilterTag'
        description: Defines what this IP filter will be used for. This is to support IP filtering on proxies.
      priority:
        type: integer
        format: int32
        description: Priority of IP restriction rule.
      name:
        type: string
        description: IP restriction rule name.
      description:
        type: string
        description: IP restriction rule description.
      headers:
        type: object
        description: 'IP restriction rule headers.

          X-Forwarded-Host (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Host#Examples).

          The matching logic is ..

          - If the property is null or empty (default), all hosts(or lack of) are allowed.

          - A value is compared using ordinal-ignore-case (excluding port number).

          - Subdomain wildcards are permitted but don''t match the root domain. For example, *.contoso.com matches the subdomain foo.contoso.com

          but not the root domain contoso.com or multi-level foo.bar.contoso.com

          - Unicode host names are allowed but are converted to Punycode for matching.


          X-Forwarded-For (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For#Examples).

          The matching logic is ..

          - If the property is null or empty (default), any forwarded-for chains (or lack of) are allowed.

          - If any address (excluding port number) in the chain (comma separated) matches the CIDR defined by the property.


          X-Azure-FDID and X-FD-HealthProbe.

          The matching logic is exact match.'
        additionalProperties:
          items:
            type: string
          type: array
  HostNameSslState:
    type: object
    description: SSL-enabled hostname.
    properties:
      name:
        type: string
        description: Hostname.
      sslState:
        $ref: '#/definitions/SslState'
        description: SSL type.
      virtualIP:
        type: string
        description: Virtual IP address assigned to the hostname if IP based SSL is enabled.
      thumbprint:
        type: string
        description: SSL certificate thumbprint.
      toUpdate:
        type: boolean
        description: Set to <code>true</code> to update existing hostname.
      hostType:
        $ref: '#/definitions/HostType'
        description: Indicates whether the hostname is a standard or repository hostname.
  RegistryAdapter:
    type: object
    description: Server farm registry adapter configuration.
    properties:
      registryKey:
        type: string
        description: Registry key for the adapter.
      type:
        $ref: '#/definitions/RegistryAdapterType'
        description: Type of the registry adapter.
      keyVaultSecretReference:
        $ref: '#/definitions/KeyVaultReferenceWithStatus'
        description: Key vault reference to the value that will be placed in the registry location
  DefaultErrorResponseError:
    type: object
    description: Error model.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      details:
        type: array
        items:
          $ref: '#/definitions/DefaultErrorResponseErrorDetailsItem'
        x-ms-identifiers: []
      innererror:
        type: string
        description: More information to debug error.
        readOnly: true
  RegistryAdapterType:
    type: string
    description: Type of the registry adapter.
    enum:
    - Binary
    - String
    - Expand_String
    - Multi_String
    - DWord
    - QWord
    x-ms-enum:
      name: RegistryAdapterType
      modelAsString: true
      values:
      - name: Binary
        value: Binary
      - name: String
        value: String
      - name: Expand_String
        value: Expand_String
      - name: Multi_String
        value: Multi_String
      - name: DWord
        value: DWord
      - name: QWord
        value: QWord
  AuthenticationType:
    type: string
    description: 'Property to select authentication type to access the selected storage account. Available options: SystemAssignedIdentity, UserAssignedIdentity, StorageAccountConnectionString.'
    enum:
    - SystemAssignedIdentity
    - UserAssignedIdentity
    - StorageAccountConnectionString
    x-ms-enum:
      name: AuthenticationType
      modelAsString: true
      values:
      - name: SystemAssignedIdentity
        value: SystemAssignedIdentity
      - name: UserAssignedIdentity
        value: UserAssignedIdentity
      - name: StorageAccountConnectionString
        value: StorageAccountConnectionString
  LocalizableString:
    type: object
    description: Localizable string object containing the name and a localized value.
    properties:
      value:
        type: string
        description: Non-localized name.
      localizedValue:
        type: string
        description: Localized name.
  CloningInfo:
    type: object
    description: Information needed for cloning operation.
    properties:
      correlationId:
        type: string
        format: uuid
        description: 'Correlation ID of cloning operation. This ID ties multiple cloning operations

          together to use the same snapshot.'
      overwrite:
        type: boolean
        description: <code>true</code> to overwrite destination app; otherwise, <code>false</code>.
      cloneCustomHostNames:
        type: boolean
        description: <code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>.
      cloneSourceControl:
        type: boolean
        description: <code>true</code> to clone source control from source app; otherwise, <code>false</code>.
      sourceWebAppId:
        type: string
        description: 'ARM resource ID of the source app. App resource ID is of the form

          /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and

          /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots.'
      sourceWebAppLocation:
        type: string
        description: 'Location of source app ex: West US or North Europe'
      hostingEnvironment:
        type: string
        description: App Service Environment.
      appSettingsOverrides:
        type: object
        description: 'Application setting overrides for cloned app. If specified, these settings override the settings cloned

          from source app. Otherwise, application settings from source app are retained.'
        additionalProperties:
          type: string
      configureLoadBalancing:
        type: boolean
        description: <code>true</code> to configure load balancing for source and destination app.
      trafficManagerProfileId:
        type: string
        description: 'ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form

          /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}.'
      trafficManagerProfileName:
        type: string
        description: Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist.
    required:
    - sourceWebAppId
  SiteUpdateStrategyType:
    type: string
    description: 'Function app site update strategy type. Available options: Recreate, RollingUpdate'
    enum:
    - Recreate
    - RollingUpdate
    x-ms-enum:
      name: SiteUpdateStrategyType
      modelAsString: true
      values:
      - name: Recreate
        value: Recreate
        description: 'If the app is under load and a deployment or site state update occurs, all pods will be removed

          and will need to be Recreated all at once. This is the default behavior.'
      - name: RollingUpdate
        value: RollingUpdate
        description: 'If the app is under load and a deployment or site state update occurs, pods will be drained in

          batches and gradually replaced, thus minimizing impact to throughput.'
  SiteLoadBalancing:
    type: string
    description: Site load balancing.
    enum:
    - WeightedRoundRobin
    - LeastRequests
    - LeastResponseTime
    - WeightedTotalTraffic
    - RequestHash
    - PerSiteRoundRobin
    - LeastRequestsWithTieBreaker
    x-ms-enum:
      name: SiteLoadBalancing
      modelAsString: false
  VirtualDirectory:
    type: object
    description: Directory for virtual application.
    properties:
      virtualPath:
        type: string
        description: Path to virtual application.
      physicalPath:
        type: string
        description: Physical path.
  InstallScriptType:
    type: string
    description: Type of the install script.
    enum:
    - RemoteAzureBlob
    - PlatformStorage
    x-ms-enum:
      name: InstallScriptType
      modelAsString: true
      values:
      - name: RemoteAzureBlob
        value: RemoteAzureBlob
      - name: PlatformStorage
        value: PlatformStorage
  DefaultAction:
    type: string
    description: Default action for main access restriction if no rules are matched.
    enum:
    - Allow
    - Deny
    x-ms-enum:
      name: DefaultAction
      modelAsString: true
      values:
      - name: Allow
        value: Allow
      - name: Deny
        value: Deny
  FunctionsDeployment:
    type: object
    description: Configuration section for the function app deployment.
    properties:
      storage:
        $ref: '#/definitions/FunctionsDeploymentStorage'
        description: Storage for deployed package used by the function app.
  ManagedPipelineMode:
    type: string
    description: Managed pipeline mode.
    enum:
    - Integrated
    - Classic
    x-ms-enum:
      name: ManagedPipelineMode
      modelAsString: false
  AppServicePlanCollection:
    type: object
    description: Collection of App Service plans.
    properties:
      value:
        type: array
        description: The AppServicePlan items on this page
        items:
          $ref: '#/definitions/AppServicePlan'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  HybridConnectionKeyProperties:
    type: object
    description: HybridConnectionKey resource specific properties
    properties:
      sendKeyName:
        type: string
        description: The name of the send key.
        readOnly: true
      sendKeyValue:
        type: string
        description: The value of the send key.
        readOnly: true
  InstallScriptSource:
    type: object
    description: Object to hold install script reference.
    properties:
      sourceUri:
        type: string
        description: Install script source URI where the install script file will be fetched from.
      type:
        $ref: '#/definitions/InstallScriptType'
        description: Type of the install script.
  IPMode:
    type: string
    description: Specifies the IP mode of the app.
    enum:
    - IPv4
    - IPv6
    - IPv4AndIPv6
    x-ms-enum:
      name: IPMode
      modelAsString: false
  ProvisioningState:
    type: string
    description: Provisioning state of the App Service Plan.
    enum:
    - Succeeded
    - Failed
    - Canceled
    - InProgress
    - Deleting
    x-ms-enum:
      name: ProvisioningState
      modelAsString: false
  DefaultErrorResponse:
    type: object
    description: App Service error response.
    properties:
      error:
        $ref: '#/definitions/DefaultErrorResponseError'
        description: Error model.
        readOnly: true
  VnetGateway:
    type: object
    description: The Virtual Network gateway contract. This is used to give the Virtual Network gateway access to the VPN package.
    properties:
      properties:
        $ref: '#/definitions/VnetGatewayProperties'
        description: VnetGateway resource specific properties
        x-ms-client-flatten: true
      kind:
        type: string
        description: Kind of resource.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  ServerFarmNetworkSettings:
    type: object
    description: Network settings for an app service plan.
    properties:
      virtualNetworkSubnetId:
        type: string
        description: Azure Resource Manager ID of the Virtual network and subnet to be joined by Regional VNET Integration. This must be of the form /subscriptions/{subscriptionName}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}
  SiteAvailabilityState:
    type: string
    description: Management information availability state for the app.
    enum:
    - Normal
    - Limited
    - DisasterRecoveryMode
    x-ms-enum:
      name: SiteAvailabilityState
      modelAsString: false
  DefaultErrorResponseErrorDetailsItem:
    type: object
    description: Detailed errors.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
  SupportedTlsVersions:
    type: string
    description: 'MinTlsVersion: configures the minimum version of TLS required for SSL requests'
    enum:
    - '1.0'
    - '1.1'
    - '1.2'
    - '1.3'
    x-ms-enum:
      name: SupportedTlsVersions
      modelAsString: true
      values:
      - name: '1.0'
        value: '1.0'
      - name: '1.1'
        value: '1.1'
      - name: '1.2'
        value: '1.2'
      - name: '1.3'
        value: '1.3'
  NameValuePair:
    type: object
    description: Name value pair.
    properties:
      name:
        type: string
        description: Pair name.
      value:
        type: string
        description: Pair value.
  StatusCodesBasedTrigger:
    type: object
    description: Trigger based on status code.
    properties:
      status:
        type: integer
        format: int32
        description: HTTP status code.
      subStatus:
        type: integer
        format: int32
        description: Request Sub Status.
      win32Status:
        type: integer
        format: int32
        description: Win32 error code.
      count:
        type: integer
        format: int32
        description: Request Count.
      timeInterval:
        type: string
        description: Time interval.
      path:
        type: string
        description: Request Path
  TlsCipherSuites:
    type: string
    description: The minimum strength TLS cipher suite allowed for an application
    enum:
    - TLS_AES_256_GCM_SHA384
    - TLS_AES_128_GCM_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
    - TLS_RSA_WITH_AES_256_GCM_SHA384
    - TLS_RSA_WITH_AES_128_GCM_SHA256
    - TLS_RSA_WITH_AES_256_CBC_SHA256
    - TLS_RSA_WITH_AES_128_CBC_SHA256
    - TLS_RSA_WITH_AES_256_CBC_SHA
    - TLS_RSA_WITH_AES_128_CBC_SHA
    x-ms-enum:
      name: TlsCipherSuites
      modelAsString: true
      values:
      - name: TLS_AES_256_GCM_SHA384
        value: TLS_AES_256_GCM_SHA384
      - name: TLS_AES_128_GCM_SHA256
        value: TLS_AES_128_GCM_SHA256
      - name: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        value: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      - name: TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
        value: TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
      - name: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        value: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
      - name: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        value: TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
      - name: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        value: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - name: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
        value: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
      - name: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
        value: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
      - name: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
        value: TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
      - name: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
        value: TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
      - name: TLS_RSA_WITH_AES_256_GCM_SHA384
        value: TLS_RSA_WITH_AES_256_GCM_SHA384
      - name: TLS_RSA_WITH_AES_128_GCM_SHA256
        value: TLS_RSA_WITH_AES_128_GCM_SHA256
      - name: TLS_RSA_WITH_AES_256_CBC_SHA256
        value: TLS_RSA_WITH_AES_256_CBC_SHA256
      - name: TLS_RSA_WITH_AES_128_CBC_SHA256
        value: TLS_RSA_WITH_AES_128_CBC_SHA256
      - name: TLS_RSA_WITH_AES_256_CBC_SHA
        value: TLS_RSA_WITH_AES_256_CBC_SHA
      - name: TLS_RSA_WITH_AES_128_CBC_SHA
        value: TLS_RSA_WITH_AES_128_CBC_SHA
  ServerFarmRdpDetails:
    type: object
    description: Server Farm RDP connection details.
    properties:
      rdpPassword:
        type: string
        format: password
        description: The RDP password for the server farm.
        x-ms-secret: true
      rdpPasswordExpiry:
        type: string
        format: date-time
        description: The RDP password expiry date.
  ApiDefinitionInfo:
    type: object
    description: Information about the formal API definition for the app.
    properties:
      url:
        type: string
        description: The URL of the API definition.
  VnetInfo:
    type: object
    description: Virtual Network information contract.
    properties:
      vnetResourceId:
        type: string
        description: The Virtual Network's resource ID.
      certThumbprint:
        type: string
        description: The client certificate thumbprint.
        readOnly: true
      certBlob:
        type: string
        description: A certificate file (.cer) blob containing the public key of the private key used to authenticate a \nPoint-To-Site VPN connection.
      routes:
        type: array
        description: The routes that this Virtual Network connection uses.
        items:
          $ref: '#/definitions/VnetRoute'
        readOnly: true
      resyncRequired:
        type: boolean
        description: <code>true</code> if a resync is required; otherwise, <code>false</code>.
        readOnly: true
      dnsServers:
        type: string
        description: DNS servers to be used by this Virtual Network. This should be a comma-separated list of IP addresses.
      isSwift:
        type: boolean
        description: Flag that is used to denote if this is VNET injection
  RequestsBasedTrigger:
    type: object
    description: Trigger based on total requests.
    properties:
      count:
        type: integer
        format: int32
        description: Request Count.
      timeInterval:
        type: string
        description: Time interval.
  DaprConfig:
    type: object
    description: App Dapr configuration.
    properties:
      enabled:
        type: boolean
        description: Boolean indicating if the Dapr side car is enabled
        default: false
      appId:
        type: string
        description: Dapr application identifier
      appPort:
        type: integer
        format: int32
        description: Tells Dapr which port your application is listening on
      httpReadBufferSize:
        type: integer
        format: int32
        description: Dapr max size of http header read buffer in KB to handle when sending multi-KB headers. Default is 65KB.
      httpMaxRequestSize:
        type: integer
        format: int32
        description: Increasing max size of request body http servers parameter in MB to handle uploading of big files. Default is 4 MB.
      logLevel:
        $ref: '#/definitions/DaprLogLevel'
        description: Sets the log level for the Dapr sidecar. Allowed values are debug, info, warn, error. Default is info.
      enableApiLogging:
        type: boolean
        description: Enables API logging for the Dapr sidecar
  CorsSettings:
    type: object
    description: Cross-Origin Resource Sharing (CORS) settings for the app.
    properties:
      allowedOrigins:
        type: array
        description: 'Gets or sets the list of origins that should be allowed to make cross-origin

          calls (for example: http://example.com:12345). Use "*" to allow all.'
        items:
          type: string
      supportCredentials:
        type: boolean
        description: 'Gets or sets whether CORS requests with credentials are allowed. See

          https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials

          for more details.'
  ConnStringInfo:
    type: object
    description: Database connection string information.
    properties:
      name:
        type: string
        description: Name of connection string.
      connectionString:
        type: string
        description: Connection string value.
      type:
        $ref: '#/definitions/ConnectionStringType'
        description: Type of database.
  Site:
    type: object
    description: A web app, a mobile app backend, or an API app.
    properties:
      properties:
        $ref: '#/definitions/SiteProperties'
        description: Site resource specific properties
        x-ms-client-flatten: true
      identity:
        $ref: '#/definitions/ManagedServiceIdentity'
        description: Managed service identity.
      extendedLocation:
        $ref: '#/definitions/ExtendedLocation'
        description: Extended Location.
      kind:
        type: string
        description: Kind of resource. If the resource is an app, you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference for details supported values for kind.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
  ScmType:
    type: string
    description: SCM type.
    enum:
    - None
    - Dropbox
    - Tfs
    - LocalGit
    - GitHub
    - CodePlexGit
    - CodePlexHg
    - BitbucketGit
    - BitbucketHg
    - ExternalGit
    - ExternalHg
    - OneDrive
    - VSO
    - VSTSRM
    x-ms-enum:
      name: ScmType
      modelAsString: true
      values:
      - name: None
        value: None
      - name: Dropbox
        value: Dropbox
      - name: Tfs
        value: Tfs
      - name: LocalGit
        value: LocalGit
      - name: GitHub
        value: GitHub
      - name: CodePlexGit
        value: CodePlexGit
      - name: CodePlexHg
        value: CodePlexHg
      - name: BitbucketGit
        value: BitbucketGit
      - name: BitbucketHg
        value: BitbucketHg
      - name: ExternalGit
        value: ExternalGit
      - name: ExternalHg
        value: ExternalHg
      - name: OneDrive
        value: OneDrive
      - name: VSO
        value: VSO
      - name: VSTSRM
        value: VSTSRM
  ClientCertMode:
    type: string
    description: 'This composes with ClientCertEnabled setting.

      - ClientCertEnabled: false means ClientCert is ignored.

      - ClientCertEnabled: true and ClientCertMode: Required means ClientCert is required.

      - ClientCertEnabled: true and ClientCertMode: Optional means ClientCert is optional or accepted.'
    enum:
    - Required
    - Optional
    - OptionalInteractiveUser
    x-ms-enum:
      name: ClientCertMode
      modelAsString: false
  DaprLogLevel:
    type: string
    description: Sets the log level for the Dapr sidecar. Allowed values are debug, info, warn, error. Default is info.
    enum:
    - info
    - debug
    - warn
    - error
    x-ms-enum:
      name: DaprLogLevel
      modelAsString: true
      values:
      - name: info
        value: info
      - name: debug
        value: debug
      - name: warn
        value: warn
      - name: error
        value: error
  StatusOptions:
    type: string
    description: App Service plan status.
    enum:
    - Ready
    - Pending
    - Creating
    x-ms-enum:
      name: StatusOptions
      modelAsString: false
  ManagedServiceIdentity:
    type: object
    description: Managed service identity.
    properties:
      type:
        $ref: '#/definitions/ManagedServiceIdentityType'
        description: Type of managed service identity.
      tenantId:
        type: string
        description: Tenant of managed service identity.
        readOnly: true
      principalId:
        type: string
        description: Principal Id of managed service identity.
        readOnly: true
      userAssignedIdentities:
        type: object
        description: 'The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'
        additionalProperties:
          $ref: '#/definitions/UserAssignedIdentity'
  AppServicePlanProperties:
    type: object
    description: AppServicePlan resource specific properties
    properties:
      workerTierName:
        type: string
        description: Target worker tier assigned to the App Service plan.
      status:
        $ref: '#/definitions/StatusOptions'
        description: App Service plan status.
        readOnly: true
      subscription:
        type: string
        description: App Service plan subscription.
        readOnly: true
      hostingEnvironmentProfile:
        $ref: '#/definitions/HostingEnvironmentProfile'
        description: Specification for the App Service Environment to use for the App Service plan.
        x-ms-mutability:
        - read
        - create
      maximumNumberOfWorkers:
        type: integer
        format: int32
        description: Maximum number of instances that can be assigned to this App Service plan.
        readOnly: true
      numberOfWorkers:
        type: integer
        format: int32
        description: The number of instances that are assigned to this App Service plan.
        readOnly: true
      geoRegion:
        type: string
        description: Geographical location for the App Service plan.
[...]
