swagger: '2.0'
info:
  title: WebApps API Client AppServiceEnvironments Operations API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.Web/operations:
    get:
      operationId: Provider_ListOperations
      tags:
      - Operations
      summary: Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
      description: Description for Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/CsmOperationCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List operations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  CsmOperationDescriptionProperties:
    type: object
    description: Properties available for a Microsoft.Web resource provider operation.
    properties:
      serviceSpecification:
        $ref: '#/definitions/ServiceSpecification'
        description: Resource metrics service provided by Microsoft.Insights resource provider.
  DefaultErrorResponse:
    type: object
    description: App Service error response.
    properties:
      error:
        $ref: '#/definitions/DefaultErrorResponseError'
        description: Error model.
        readOnly: true
  ServiceSpecification:
    type: object
    description: Resource metrics service provided by Microsoft.Insights resource provider.
    properties:
      metricSpecifications:
        type: array
        items:
          $ref: '#/definitions/MetricSpecification'
        x-ms-identifiers:
        - name
      logSpecifications:
        type: array
        items:
          $ref: '#/definitions/LogSpecification'
        x-ms-identifiers:
        - name
  MetricSpecification:
    type: object
    description: Definition of a single resource metric.
    properties:
      name:
        type: string
      displayName:
        type: string
      displayDescription:
        type: string
      unit:
        type: string
      aggregationType:
        type: string
      supportsInstanceLevelAggregation:
        type: boolean
      enableRegionalMdmAccount:
        type: boolean
      sourceMdmAccount:
        type: string
      sourceMdmNamespace:
        type: string
      metricFilterPattern:
        type: string
      fillGapWithZero:
        type: boolean
      isInternal:
        type: boolean
      dimensions:
        type: array
        items:
          $ref: '#/definitions/Dimension'
        x-ms-identifiers:
        - name
      category:
        type: string
      availabilities:
        type: array
        items:
          $ref: '#/definitions/MetricAvailability'
        x-ms-identifiers: []
      supportedTimeGrainTypes:
        type: array
        items:
          type: string
      supportedAggregationTypes:
        type: array
        items:
          type: string
  MetricAvailability:
    type: object
    description: Retention policy of a resource metric.
    properties:
      timeGrain:
        type: string
      blobDuration:
        type: string
  Dimension:
    type: object
    description: 'Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app,

      where instance name is dimension of the metric HTTP request'
    properties:
      name:
        type: string
      displayName:
        type: string
      internalName:
        type: string
      toBeExportedForShoebox:
        type: boolean
  CsmOperationCollection:
    type: object
    description: Collection of Azure resource manager operation metadata.
    properties:
      value:
        type: array
        description: Collection of resources.
        items:
          $ref: '#/definitions/CsmOperationDescription'
        x-ms-identifiers:
        - name
      nextLink:
        type: string
        description: Link to next page of resources.
        readOnly: true
    required:
    - value
  DefaultErrorResponseError:
    type: object
    description: Error model.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      details:
        type: array
        items:
          $ref: '#/definitions/DefaultErrorResponseErrorDetailsItem'
        x-ms-identifiers: []
      innererror:
        type: string
        description: More information to debug error.
        readOnly: true
  DefaultErrorResponseErrorDetailsItem:
    type: object
    description: Detailed errors.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
  LogSpecification:
    type: object
    description: Log Definition of a single resource metric.
    properties:
      name:
        type: string
      displayName:
        type: string
      blobDuration:
        type: string
      logFilterPattern:
        type: string
  CsmOperationDescription:
    type: object
    description: Description of an operation available for Microsoft.Web resource provider.
    properties:
      name:
        type: string
      isDataAction:
        type: boolean
      display:
        $ref: '#/definitions/CsmOperationDisplay'
        description: Meta data about operation used for display in portal.
      origin:
        type: string
      properties:
        $ref: '#/definitions/CsmOperationDescriptionProperties'
        description: Properties available for a Microsoft.Web resource provider operation.
  CsmOperationDisplay:
    type: object
    description: Meta data about operation used for display in portal.
    properties:
      provider:
        type: string
      resource:
        type: string
      operation:
        type: string
      description:
        type: string
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
