swagger: '2.0'
info:
  title: WebApps API Client AppServiceEnvironments StaticSites API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: StaticSites
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/previewStaticSiteWorkflowFile:
    post:
      operationId: StaticSites_PreviewWorkflow
      tags:
      - StaticSites
      summary: Generates a preview workflow file for the static site
      description: Description for Generates a preview workflow file for the static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter
      - name: staticSitesWorkflowPreviewRequest
        in: body
        description: The request body
        required: true
        schema:
          $ref: '#/definitions/StaticSitesWorkflowPreviewRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/StaticSitesWorkflowPreview'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Generates a preview workflow file for the static site:
          $ref: ./examples/GenerateStaticSiteWorkflowPreview.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/staticSites:
    get:
      operationId: StaticSites_List
      tags:
      - StaticSites
      summary: Get all Static Sites for a subscription.
      description: Description for Get all Static Sites for a subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all static sites in a subscription:
          $ref: ./examples/GetAllStaticSites.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites:
    get:
      operationId: StaticSites_GetStaticSitesByResourceGroup
      tags:
      - StaticSites
      summary: Gets all static sites in the specified resource group.
      description: Description for Gets all static sites in the specified resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get static sites for a resource group:
          $ref: ./examples/GetStaticSites.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}:
    get:
      operationId: StaticSites_GetStaticSite
      tags:
      - StaticSites
      summary: Gets the details of a static site.
      description: Description for Gets the details of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details for a static site:
          $ref: ./examples/GetStaticSite.json
    put:
      operationId: StaticSites_CreateOrUpdateStaticSite
      tags:
      - StaticSites
      summary: Creates a new static site in an existing resource group, or updates an existing static site.
      description: Description for Creates a new static site in an existing resource group, or updates an existing static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: staticSiteEnvelope
        in: body
        description: A JSON representation of the staticsite properties. See example.
        required: true
        schema:
          $ref: '#/definitions/StaticSiteARMResource'
      responses:
        '200':
          description: Resource 'StaticSiteARMResource' update operation succeeded
          schema:
            $ref: '#/definitions/StaticSiteARMResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/StaticSiteARMResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update a static site:
          $ref: ./examples/CreateOrUpdateStaticSite.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/StaticSiteARMResource'
      x-ms-long-running-operation: true
    patch:
      operationId: StaticSites_UpdateStaticSite
      tags:
      - StaticSites
      summary: Creates a new static site in an existing resource group, or updates an existing static site.
      description: Description for Creates a new static site in an existing resource group, or updates an existing static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: staticSiteEnvelope
        in: body
        description: A JSON representation of the staticsite properties. See example.
        required: true
        schema:
          $ref: '#/definitions/StaticSitePatchResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteARMResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/StaticSiteARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Patch a static site:
          $ref: ./examples/PatchStaticSite.json
    delete:
      operationId: StaticSites_DeleteStaticSite
      tags:
      - StaticSites
      summary: Deletes a static site.
      description: Description for Deletes a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete a static site:
          $ref: ./examples/DeleteStaticSite.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/basicAuth:
    get:
      operationId: StaticSites_ListBasicAuth
      tags:
      - StaticSites
      summary: Gets the basic auth properties for a static site as a collection.
      description: Description for Gets the basic auth properties for a static site as a collection.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteBasicAuthPropertiesCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Lists the basic auth properties for a static site.:
          $ref: ./examples/ListStaticSiteBasicAuth.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/basicAuth/{basicAuthName}
  : get:
      operationId: StaticSites_GetBasicAuth
      tags:
      - StaticSites
      summary: Gets the basic auth properties for a static site.
      description: Description for Gets the basic auth properties for a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: basicAuthName
        in: path
        description: name of the basic auth entry.
        required: true
        type: string
        enum:
        - default
        x-ms-enum:
          name: BasicAuthName
          modelAsString: true
          values:
          - name: default
            value: default
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteBasicAuthPropertiesARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Gets the basic auth properties for a static site.:
          $ref: ./examples/GetStaticSiteBasicAuth.json
    put:
      operationId: StaticSites_CreateOrUpdateBasicAuth
      tags:
      - StaticSites
      summary: Adds or updates basic auth for a static site.
      description: Description for Adds or updates basic auth for a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: basicAuthName
        in: path
        description: name of the basic auth entry.
        required: true
        type: string
        enum:
        - default
        x-ms-enum:
          name: BasicAuthName
          modelAsString: true
          values:
          - name: default
            value: default
      - name: basicAuthEnvelope
        in: body
        description: A JSON representation of the basic auth properties.
        required: true
        schema:
          $ref: '#/definitions/StaticSiteBasicAuthPropertiesARMResource'
      responses:
        '200':
          description: Resource 'StaticSiteBasicAuthPropertiesARMResource' update operation succeeded
          schema:
            $ref: '#/definitions/StaticSiteBasicAuthPropertiesARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Creates or updates basic auth properties for a static site.:
          $ref: ./examples/CreateOrUpdateStaticSiteBasicAuth.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds:
    get:
      operationId: StaticSites_GetStaticSiteBuilds
      tags:
      - StaticSites
      summary: Gets all static site builds for a particular static site.
      description: Description for Gets all static site builds for a particular static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteBuildCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all builds for a static site:
          $ref: ./examples/GetStaticSiteBuilds.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}
  : get:
      operationId: StaticSites_GetStaticSiteBuild
      tags:
      - StaticSites
      summary: Gets the details of a static site build.
      description: Description for Gets the details of a static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteBuildARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get a static site build:
          $ref: ./examples/GetStaticSiteBuild.json
    delete:
      operationId: StaticSites_DeleteStaticSiteBuild
      tags:
      - StaticSites
      summary: Deletes a static site build.
      description: Description for Deletes a static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete a static site build:
          $ref: ./examples/DeleteStaticSiteBuild.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/config/appsettings
  : put:
      operationId: StaticSites_CreateOrUpdateStaticSiteBuildAppSettings
      tags:
      - StaticSites
      summary: Creates or updates the app settings of a static site build.
      description: Description for Creates or updates the app settings of a static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: appSettings
        in: body
        description: The dictionary containing the static site app settings to update.
        required: true
        schema:
          $ref: '#/definitions/StringDictionary'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Creates or updates the function app settings of a static site build.:
          $ref: ./examples/CreateOrUpdateStaticSiteBuildAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/config/functionappsettings
  : put:
      operationId: StaticSites_CreateOrUpdateStaticSiteBuildFunctionAppSettings
      tags:
      - StaticSites
      summary: Creates or updates the function app settings of a static site build.
      description: Description for Creates or updates the function app settings of a static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: appSettings
        in: body
        description: The dictionary containing the static site function app settings to update.
        required: true
        schema:
          $ref: '#/definitions/StringDictionary'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Creates or updates the function app settings of a static site build.:
          $ref: ./examples/CreateOrUpdateStaticSiteBuildFunctionAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/databaseConnections
  : get:
      operationId: StaticSites_GetBuildDatabaseConnections
      tags:
      - StaticSites
      summary: Returns overviews of database connections for a static site build
      description: Returns overviews of database connections for a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnectionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List overviews of database connections for the static site build.:
          $ref: ./examples/GetStaticSiteBuildDatabaseConnections.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/databaseConnections/{databaseConnectionName}
  : get:
      operationId: StaticSites_GetBuildDatabaseConnection
      tags:
      - StaticSites
      summary: Returns overview of a database connection for a static site build by name
      description: Returns overview of a database connection for a static site build by name
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get overview of database connections for the static site build.:
          $ref: ./examples/GetStaticSiteBuildDatabaseConnection.json
    put:
      operationId: StaticSites_CreateOrUpdateBuildDatabaseConnection
      tags:
      - StaticSites
      summary: Create or update a database connection for a static site build
      description: Description for Create or update a database connection for a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionRequestEnvelope
        in: body
        description: A JSON representation of the database connection request properties
        required: true
        schema:
          $ref: '#/definitions/DatabaseConnection'
      responses:
        '200':
          description: Resource 'DatabaseConnection' update operation succeeded
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update a database connection for a static site build:
          $ref: ./examples/CreateOrUpdateStaticSiteBuildDatabaseConnection.json
    patch:
      operationId: StaticSites_UpdateBuildDatabaseConnection
      tags:
      - StaticSites
      summary: Create or update a database connection for a static site build
      description: Description for Create or update a database connection for a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionRequestEnvelope
        in: body
        description: A JSON representation of the database connection request properties
        required: true
        schema:
          $ref: '#/definitions/DatabaseConnectionPatchRequest'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Patch a database connection for a static site build:
          $ref: ./examples/PatchStaticSiteBuildDatabaseConnection.json
    delete:
      operationId: StaticSites_DeleteBuildDatabaseConnection
      tags:
      - StaticSites
      summary: Delete a database connection for a static site build
      description: Delete a database connection for a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete a database connection from a static site build.:
          $ref: ./examples/DeleteStaticSiteBuildDatabaseConnection.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/databaseConnections/{databaseConnectionName}/show
  : post:
      operationId: StaticSites_GetBuildDatabaseConnectionWithDetails
      tags:
      - StaticSites
      summary: Returns details of a database connection for a static site build by name
      description: Returns details of a database connection for a static site build by name
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of database connections for the static site build.:
          $ref: ./examples/GetStaticSiteBuildDatabaseConnectionWithDetails.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/functions
  : get:
      operationId: StaticSites_ListStaticSiteBuildFunctions
      tags:
      - StaticSites
      summary: Gets the functions of a particular static site build.
      description: Description for Gets the functions of a particular static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteFunctionOverviewCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Gets the functions of a particular static site build:
          $ref: ./examples/ListStaticSiteBuildFunctions.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/linkedBackends
  : get:
      operationId: StaticSites_GetLinkedBackendsForBuild
      tags:
      - StaticSites
      summary: Returns details of all backends linked to a static site build
      description: Returns details of all backends linked to a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteLinkedBackendsCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of the linked backends registered with a static site build.:
          $ref: ./examples/GetLinkedBackendsForStaticSiteBuild.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/linkedBackends/{linkedBackendName}
  : get:
      operationId: StaticSites_GetLinkedBackendForBuild
      tags:
      - StaticSites
      summary: Returns the details of a linked backend linked to a static site build by name
      description: Returns the details of a linked backend linked to a static site build by name
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of the linked backend registered with a static site build by name.:
          $ref: ./examples/GetLinkedBackendForStaticSiteBuild.json
    put:
      operationId: StaticSites_LinkBackendToBuild
      tags:
      - StaticSites
      summary: Link backend to a static site build
      description: Link backend to a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      - name: staticSiteLinkedBackendEnvelope
        in: body
        description: A JSON representation of the linked backend request properties
        required: true
        schema:
          $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Link a backend to a static site build:
          $ref: ./examples/LinkBackendToStaticSiteBuild.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/StaticSiteLinkedBackendARMResource'
      x-ms-long-running-operation: true
    delete:
      operationId: StaticSites_UnlinkBackendFromBuild
      tags:
      - StaticSites
      summary: Unlink a backend from a static site build
      description: Unlink a backend from a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      - name: isCleaningAuthConfig
        in: query
        description: Decides if auth will be removed from backend configuration
        required: false
        type: boolean
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Unlink a backend from a static site build.:
          $ref: ./examples/UnlinkBackendFromStaticSiteBuild.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/linkedBackends/{linkedBackendName}/validate
  : post:
      operationId: StaticSites_ValidateBackendForBuild
      tags:
      - StaticSites
      summary: Validates that a backend can be linked to a static site build
      description: Validates that a backend can be linked to a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      - name: staticSiteLinkedBackendEnvelope
        in: body
        description: A JSON representation of the linked backend request properties
        required: true
        schema:
          $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
      responses:
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Validate if backend can be linked to static site build.:
          $ref: ./examples/ValidateLinkedBackendForStaticSiteBuild.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/listAppSettings
  : post:
      operationId: StaticSites_ListStaticSiteBuildAppSettings
      tags:
      - StaticSites
      summary: Gets the application settings of a static site build.
      description: Description for Gets the application settings of a static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get app settings of a static site build:
          $ref: ./examples/ListStaticSiteBuildAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/listFunctionAppSettings
  : post:
      operationId: StaticSites_ListStaticSiteBuildFunctionAppSettings
      tags:
      - StaticSites
      summary: Gets the application settings of a static site build.
      description: Description for Gets the application settings of a static site build.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get function app settings of a static site build:
          $ref: ./examples/ListStaticSiteBuildFunctionAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/showDatabaseConnections
  : post:
      operationId: StaticSites_GetBuildDatabaseConnectionsWithDetails
      tags:
      - StaticSites
      summary: Returns details of database connections for a static site build
      description: Returns details of database connections for a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnectionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List full details of database connections for the static site build.:
          $ref: ./examples/GetStaticSiteBuildDatabaseConnectionsWithDetails.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/userProvidedFunctionApps
  : get:
      operationId: StaticSites_GetUserProvidedFunctionAppsForStaticSiteBuild
      tags:
      - StaticSites
      summary: Gets the details of the user provided function apps registered with a static site build
      description: Description for Gets the details of the user provided function apps registered with a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteUserProvidedFunctionAppsCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of the user provided function apps registered with a static site build.:
          $ref: ./examples/GetUserProvidedFunctionAppsForStaticSiteBuild.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/userProvidedFunctionApps/{functionAppName}
  : get:
      operationId: StaticSites_GetUserProvidedFunctionAppForStaticSiteBuild
      tags:
      - StaticSites
      summary: Gets the details of the user provided function app registered with a static site build
      description: Description for Gets the details of the user provided function app registered with a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
      - name: functionAppName
        in: path
        description: Name of the function app registered with the static site build.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteUserProvidedFunctionAppARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of the user provided function app registered with a static site build.:
          $ref: ./examples/GetUserProvidedFunctionAppForStaticSiteBuild.json
    put:
      operationId: StaticSites_RegisterUserProvidedFunctionAppWithStaticSiteBuild
      tags:
      - StaticSites
      summary: Register a user provided function app with a static site build
      description: Description for Register a user provided function app with a static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
      - name: functionAppName
        in: path
        description: Name of the function app registered with the static site build.
        required: true
        type: string
      - name: isForced
        in: query
        description: Specify <code>true</code> to force the update of the auth configuration on the function app even if an AzureStaticWebApps provider is already configured on the function app. The default is <code>false</code>.
        required: false
        type: boolean
      - name: staticSiteUserProvidedFunctionEnvelope
        in: body
        description: A JSON representation of the user provided function app properties. See example.
        required: true
        schema:
          $ref: '#/definitions/StaticSiteUserProvidedFunctionAppARMResource'
      responses:
        '200':
          description: Resource 'StaticSiteUserProvidedFunctionAppARMResource' update operation succeeded
          schema:
            $ref: '#/definitions/StaticSiteUserProvidedFunctionAppARMResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/StaticSiteUserProvidedFunctionAppARMResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Register a user provided function app with a static site build:
          $ref: ./examples/RegisterUserProvidedFunctionAppWithStaticSiteBuild.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/StaticSiteUserProvidedFunctionAppARMResource'
      x-ms-long-running-operation: true
    delete:
      operationId: StaticSites_DetachUserProvidedFunctionAppFromStaticSiteBuild
      tags:
      - StaticSites
      summary: Detach the user provided function app from the static site build
      description: Description for Detach the user provided function app from the static site build
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
      - name: functionAppName
        in: path
        description: Name of the function app registered with the static site build.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Detach the user provided function app from the static site build.:
          $ref: ./examples/DetachUserProvidedFunctionAppFromStaticSiteBuild.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{environmentName}/zipdeploy
  : post:
      operationId: StaticSites_CreateZipDeploymentForStaticSiteBuild
      tags:
      - StaticSites
      summary: Deploys zipped content to a specific environment of a static site.
      description: Description for Deploys zipped content to a specific environment of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The stage site identifier.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: staticSiteZipDeploymentEnvelope
        in: body
        description: A JSON representation of the StaticSiteZipDeployment properties. See example.
        required: true
        schema:
          $ref: '#/definitions/StaticSiteZipDeploymentARMResource'
      responses:
        '200':
          description: Azure operation completed successfully.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Deploy a site from a zipped package to a particular static site build:
          $ref: ./examples/StaticSiteBuildZipDeploy.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/config/appsettings
  : put:
      operationId: StaticSites_CreateOrUpdateStaticSiteAppSettings
      tags:
      - StaticSites
      summary: Creates or updates the app settings of a static site.
      description: Description for Creates or updates the app settings of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: appSettings
        in: body
        description: The dictionary containing the static site app settings to update.
        required: true
        schema:
          $ref: '#/definitions/StringDictionary'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Creates or updates the app settings of a static site.:
          $ref: ./examples/CreateOrUpdateStaticSiteAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/config/functionappsettings
  : put:
      operationId: StaticSites_CreateOrUpdateStaticSiteFunctionAppSettings
      tags:
      - StaticSites
      summary: Creates or updates the function app settings of a static site.
      description: Description for Creates or updates the function app settings of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: appSettings
        in: body
        description: The dictionary containing the static site function app settings to update.
        required: true
        schema:
          $ref: '#/definitions/StringDictionary'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Creates or updates the function app settings of a static site.:
          $ref: ./examples/CreateOrUpdateStaticSiteFunctionAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/createUserInvitation
  : post:
      operationId: StaticSites_CreateUserRolesInvitationLink
      tags:
      - StaticSites
      summary: Creates an invitation link for a user with the role
      description: Description for Creates an invitation link for a user with the role
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: staticSiteUserRolesInvitationEnvelope
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/StaticSiteUserInvitationRequestResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteUserInvitationResponseResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create an invitation link for a user for a static site:
          $ref: ./examples/CreateUserRolesInvitationLink.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/customDomains
  : get:
      operationId: StaticSites_ListStaticSiteCustomDomains
      tags:
      - StaticSites
      summary: Gets all static site custom domains for a particular static site.
      description: Description for Gets all static site custom domains for a particular static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteCustomDomainOverviewCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List custom domains for a static site:
          $ref: ./examples/GetStaticSiteCustomDomains.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/customDomains/{domainName}
  : get:
      operationId: StaticSites_GetStaticSiteCustomDomain
      tags:
      - StaticSites
      summary: Gets an existing custom domain for a particular static site.
      description: Description for Gets an existing custom domain for a particular static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: domainName
        in: path
        description: The custom domain name.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteCustomDomainOverviewARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get custom domain for a static site:
          $ref: ./examples/GetStaticSiteCustomDomain.json
    put:
      operationId: StaticSites_CreateOrUpdateStaticSiteCustomDomain
      tags:
      - StaticSites
      summary: Creates a new static site custom domain in an existing resource group and static site.
      description: Description for Creates a new static site custom domain in an existing resource group and static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: domainName
        in: path
        description: The custom domain name.
        required: true
        type: string
      - name: staticSiteCustomDomainRequestPropertiesEnvelope
        in: body
        description: A JSON representation of the static site custom domain request properties. See example.
        required: true
        schema:
          $ref: '#/definitions/StaticSiteCustomDomainRequestPropertiesARMResource'
      responses:
        '200':
          description: Resource 'StaticSiteCustomDomainOverviewARMResource' update operation succeeded
          schema:
            $ref: '#/definitions/StaticSiteCustomDomainOverviewARMResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/StaticSiteCustomDomainOverviewARMResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update a custom domain for a static site:
          $ref: ./examples/CreateOrUpdateStaticSiteCustomDomain.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/StaticSiteCustomDomainOverviewARMResource'
      x-ms-long-running-operation: true
    delete:
      operationId: StaticSites_DeleteStaticSiteCustomDomain
      tags:
      - StaticSites
      summary: Deletes a custom domain.
      description: Description for Deletes a custom domain.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: domainName
        in: path
        description: The custom domain name.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete a custom domain for a static site:
          $ref: ./examples/DeleteStaticSiteCustomDomain.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/customDomains/{domainName}/validate
  : post:
      operationId: StaticSites_ValidateCustomDomainCanBeAddedToStaticSite
      tags:
      - StaticSites
      summary: Validates a particular custom domain can be added to a static site.
      description: Description for Validates a particular custom domain can be added to a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      - name: domainName
        in: path
        description: The custom domain name.
        required: true
        type: string
      - name: staticSiteCustomDomainRequestPropertiesEnvelope
        in: body
        description: A JSON representation of the static site custom domain request properties. See example.
        required: true
        schema:
          $ref: '#/definitions/StaticSiteCustomDomainRequestPropertiesARMResource'
      responses:
        '200':
          description: Azure operation completed successfully.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Validate a custom domain for a static site:
          $ref: ./examples/ValidateStaticSiteCustomDomain.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/databaseConnections
  : get:
      operationId: StaticSites_GetDatabaseConnections
      tags:
      - StaticSites
      summary: Returns overviews of database connections for a static site
      description: Returns overviews of database connections for a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnectionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List overviews of database connections for the static site.:
          $ref: ./examples/GetStaticSiteDatabaseConnections.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/databaseConnections/{databaseConnectionName}
  : get:
      operationId: StaticSites_GetDatabaseConnection
      tags:
      - StaticSites
      summary: Returns overview of a database connection for a static site by name
      description: Returns overview of a database connection for a static site by name
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get overview of database connections for the static site.:
          $ref: ./examples/GetStaticSiteDatabaseConnection.json
    put:
      operationId: StaticSites_CreateOrUpdateDatabaseConnection
      tags:
      - StaticSites
      summary: Create or update a database connection for a static site
      description: Description for Create or update a database connection for a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionRequestEnvelope
        in: body
        description: A JSON representation of the database connection request properties
        required: true
        schema:
          $ref: '#/definitions/DatabaseConnection'
      responses:
        '200':
          description: Resource 'DatabaseConnection' update operation succeeded
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update a database connection for a static site:
          $ref: ./examples/CreateOrUpdateStaticSiteDatabaseConnection.json
    patch:
      operationId: StaticSites_UpdateDatabaseConnection
      tags:
      - StaticSites
      summary: Create or update a database connection for a static site
      description: Description for Create or update a database connection for a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      - name: databaseConnectionRequestEnvelope
        in: body
        description: A JSON representation of the database connection request properties
        required: true
        schema:
          $ref: '#/definitions/DatabaseConnectionPatchRequest'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Patch a database connection for a static site:
          $ref: ./examples/PatchStaticSiteDatabaseConnection.json
    delete:
      operationId: StaticSites_DeleteDatabaseConnection
      tags:
      - StaticSites
      summary: Delete a database connection for a static site
      description: Delete a database connection for a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete a database connection from a static site.:
          $ref: ./examples/DeleteStaticSiteDatabaseConnection.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/databaseConnections/{databaseConnectionName}/show
  : post:
      operationId: StaticSites_GetDatabaseConnectionWithDetails
      tags:
      - StaticSites
      summary: Returns details of a database connection for a static site by name
      description: Returns details of a database connection for a static site by name
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: databaseConnectionName
        in: path
        description: Name of the database connection.
        required: true
        type: string
        pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseConnection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of database connections for the static site.:
          $ref: ./examples/GetStaticSiteDatabaseConnectionWithDetails.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/detach:
    post:
      operationId: StaticSites_DetachStaticSite
      tags:
      - StaticSites
      summary: Detaches a static site.
      description: Description for Detaches a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Detach a static site:
          $ref: ./examples/DetachStaticSite.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/functions:
    get:
      operationId: StaticSites_ListStaticSiteFunctions
      tags:
      - StaticSites
      summary: Gets the functions of a static site.
      description: Description for Gets the functions of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteFunctionOverviewCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Gets the functions of a static site:
          $ref: ./examples/ListStaticSiteFunctions.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/linkedBackends
  : get:
      operationId: StaticSites_GetLinkedBackends
      tags:
      - StaticSites
      summary: Returns details of all backends linked to a static site
      description: Returns details of all backends linked to a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteLinkedBackendsCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of the linked backends registered with a static site.:
          $ref: ./examples/GetLinkedBackendsForStaticSite.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/linkedBackends/{linkedBackendName}
  : get:
      operationId: StaticSites_GetLinkedBackend
      tags:
      - StaticSites
      summary: Returns the details of a linked backend linked to a static site by name
      description: Returns the details of a linked backend linked to a static site by name
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get details of the linked backend registered with a static site by name.:
          $ref: ./examples/GetLinkedBackendForStaticSite.json
    put:
      operationId: StaticSites_LinkBackend
      tags:
      - StaticSites
      summary: Link backend to a static site
      description: Link backend to a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      - name: staticSiteLinkedBackendEnvelope
        in: body
        description: A JSON representation of the linked backend request properties
        required: true
        schema:
          $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Link a backend to a static site:
          $ref: ./examples/LinkBackendToStaticSite.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/StaticSiteLinkedBackendARMResource'
      x-ms-long-running-operation: true
    delete:
      operationId: StaticSites_UnlinkBackend
      tags:
      - StaticSites
      summary: Unlink a backend from a static site
      description: Unlink a backend from a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      - name: isCleaningAuthConfig
        in: query
        description: Decides if Easy Auth configuration will be removed from backend configuration
        required: false
        type: boolean
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Unlink a backend from a static site.:
          $ref: ./examples/UnlinkBackendFromStaticSite.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/linkedBackends/{linkedBackendName}/validate
  : post:
      operationId: StaticSites_ValidateBackend
      tags:
      - StaticSites
      summary: Validates that a backend can be linked to a static site
      description: Validates that a backend can be linked to a static site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site
        required: true
        type: string
      - name: linkedBackendName
        in: path
        description: Name of the linked backend that should be retrieved
        required: true
        type: string
      - name: staticSiteLinkedBackendEnvelope
        in: body
        description: A JSON representation of the linked backend request properties
        required: true
        schema:
          $ref: '#/definitions/StaticSiteLinkedBackendARMResource'
      responses:
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: There is no content to send for this request, but the headers may be useful.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Validate if backend can be linked to static site.:
          $ref: ./examples/ValidateLinkedBackendForStaticSite.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listAppSettings
  : post:
      operationId: StaticSites_ListStaticSiteAppSettings
      tags:
      - StaticSites
      summary: Gets the application settings of a static site.
      description: Description for Gets the application settings of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get app settings of a static site:
          $ref: ./examples/ListStaticSiteAppSettings.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listConfiguredRoles
  : post:
      operationId: StaticSites_ListStaticSiteConfiguredRoles
      tags:
      - StaticSites
      summary: Lists the roles configured for the static site.
      description: Description for Lists the roles configured for the static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringList'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Lists the configured roles for a static site:
          $ref: ./examples/ListStaticSiteConfiguredRoles.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listFunctionAppSettings
  : post:
      operationId: StaticSites_ListStaticSiteFunctionAppSettings
      tags:
      - StaticSites
      summary: Gets the application settings of a static site.
      description: Description for Gets the application settings of a static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the static site.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StringDictionary'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get function app settings of a static site:
          $ref: ./examples/ListStaticSiteFunctionAppSettings.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listSecrets:
    post:
      operationId: StaticSites_ListStaticSiteSecrets
      tags:
      - StaticSites
      summary: Lists the secrets for an existing static site.
      description: Description for Lists the secrets for an existing static site.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
[...]
