swagger: '2.0'
info:
  title: WebApps API Client AppServiceEnvironments KubeEnvironments API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: KubeEnvironments
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/kubeEnvironments:
    get:
      operationId: KubeEnvironments_ListBySubscription
      tags:
      - KubeEnvironments
      summary: Get all Kubernetes Environments for a subscription.
      description: Description for Get all Kubernetes Environments for a subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/KubeEnvironmentCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List kube environments by subscription:
          $ref: ./examples/KubeEnvironments_ListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/kubeEnvironments:
    get:
      operationId: KubeEnvironments_ListByResourceGroup
      tags:
      - KubeEnvironments
      summary: Get all the Kubernetes Environments in a resource group.
      description: Description for Get all the Kubernetes Environments in a resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/KubeEnvironmentCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List kube environments by resource group:
          $ref: ./examples/KubeEnvironments_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/kubeEnvironments/{name}:
    get:
      operationId: KubeEnvironments_Get
      tags:
      - KubeEnvironments
      summary: Get the properties of a Kubernetes Environment.
      description: Description for Get the properties of a Kubernetes Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/KubeEnvironment'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get kube environments by name:
          $ref: ./examples/KubeEnvironments_Get.json
    put:
      operationId: KubeEnvironments_CreateOrUpdate
      tags:
      - KubeEnvironments
      summary: Creates or updates a Kubernetes Environment.
      description: Description for Creates or updates a Kubernetes Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        type: string
      - name: kubeEnvironmentEnvelope
        in: body
        description: Configuration details of the Kubernetes Environment.
        required: true
        schema:
          $ref: '#/definitions/KubeEnvironment'
      responses:
        '200':
          description: Resource 'KubeEnvironment' update operation succeeded
          schema:
            $ref: '#/definitions/KubeEnvironment'
        '201':
          description: Resource 'KubeEnvironment' create operation succeeded
          schema:
            $ref: '#/definitions/KubeEnvironment'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create kube environments:
          $ref: ./examples/KubeEnvironments_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/KubeEnvironment'
      x-ms-long-running-operation: true
    patch:
      operationId: KubeEnvironments_Update
      tags:
      - KubeEnvironments
      summary: Creates or updates a Kubernetes Environment.
      description: Description for Creates or updates a Kubernetes Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        type: string
      - name: kubeEnvironmentEnvelope
        in: body
        description: Configuration details of the Kubernetes Environment.
        required: true
        schema:
          $ref: '#/definitions/KubeEnvironmentPatchResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/KubeEnvironment'
        '201':
          description: Resource 'KubeEnvironment' create operation succeeded
          schema:
            $ref: '#/definitions/KubeEnvironment'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Update kube environments:
          $ref: ./examples/KubeEnvironments_Update.json
    delete:
      operationId: KubeEnvironments_Delete
      tags:
      - KubeEnvironments
      summary: Delete a Kubernetes Environment.
      description: Description for Delete a Kubernetes Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the Kubernetes Environment.
        required: true
        type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete kube environment by name:
          $ref: ./examples/KubeEnvironments_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
definitions:
  DefaultErrorResponse:
    type: object
    description: App Service error response.
    properties:
      error:
        $ref: '#/definitions/DefaultErrorResponseError'
        description: Error model.
        readOnly: true
  KubeEnvironmentProperties:
    type: object
    description: KubeEnvironment resource specific properties
    properties:
      provisioningState:
        $ref: '#/definitions/KubeEnvironmentProvisioningState'
        description: Provisioning state of the Kubernetes Environment.
        readOnly: true
      deploymentErrors:
        type: string
        description: Any errors that occurred during deployment or deployment validation
        readOnly: true
      internalLoadBalancerEnabled:
        type: boolean
        description: Only visible within Vnet/Subnet
        x-ms-mutability:
        - read
        - create
      defaultDomain:
        type: string
        description: Default Domain Name for the cluster
        readOnly: true
      staticIp:
        type: string
        description: Static IP of the KubeEnvironment
        x-ms-mutability:
        - read
        - create
      environmentType:
        type: string
        description: Type of Kubernetes Environment. Only supported for Container App Environments with value as Managed
        x-ms-mutability:
        - read
        - create
      arcConfiguration:
        $ref: '#/definitions/ArcConfiguration'
        description: 'Cluster configuration which determines the ARC cluster

          components types. Eg: Choosing between BuildService kind,

          FrontEnd Service ArtifactsStorageType etc.'
      appLogsConfiguration:
        $ref: '#/definitions/AppLogsConfiguration'
        description: 'Cluster configuration which enables the log daemon to export

          app logs to a destination. Currently only "log-analytics" is

          supported'
      containerAppsConfiguration:
        $ref: '#/definitions/ContainerAppsConfiguration'
        description: Cluster configuration for Container Apps Environments to configure Dapr Instrumentation Key and VNET Configuration
      aksResourceID:
        type: string
        x-ms-mutability:
        - read
        - create
  ExtendedLocation:
    type: object
    description: Extended Location.
    properties:
      name:
        type: string
        description: Name of extended location.
      type:
        type: string
        description: Type of extended location.
        readOnly: true
  StorageType:
    type: string
    enum:
    - LocalNode
    - NetworkFileSystem
    x-ms-enum:
      name: StorageType
      modelAsString: false
  FrontEndConfiguration:
    type: object
    properties:
      kind:
        $ref: '#/definitions/FrontEndServiceType'
  KubeEnvironment:
    type: object
    description: A Kubernetes cluster specialized for web workloads by Azure App Service
    properties:
      properties:
        $ref: '#/definitions/KubeEnvironmentProperties'
        description: KubeEnvironment resource specific properties
        x-ms-client-flatten: true
      extendedLocation:
        $ref: '#/definitions/ExtendedLocation'
        description: Extended Location.
      kind:
        type: string
        description: Kind of resource.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
  KubeEnvironmentCollection:
    type: object
    description: Collection of Kubernetes Environments
    properties:
      value:
        type: array
        description: The KubeEnvironment items on this page
        items:
          $ref: '#/definitions/KubeEnvironment'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  KubeEnvironmentPatchResourceProperties:
    type: object
    description: KubeEnvironmentPatchResource resource specific properties
    properties:
      provisioningState:
        $ref: '#/definitions/KubeEnvironmentProvisioningState'
        description: Provisioning state of the Kubernetes Environment.
        readOnly: true
      deploymentErrors:
        type: string
        description: Any errors that occurred during deployment or deployment validation
        readOnly: true
      internalLoadBalancerEnabled:
        type: boolean
        description: Only visible within Vnet/Subnet
        x-ms-mutability:
        - read
        - create
      defaultDomain:
        type: string
        description: Default Domain Name for the cluster
        readOnly: true
      staticIp:
        type: string
        description: Static IP of the KubeEnvironment
        x-ms-mutability:
        - read
        - create
      arcConfiguration:
        $ref: '#/definitions/ArcConfiguration'
        description: 'Cluster configuration which determines the ARC cluster

          components types. Eg: Choosing between BuildService kind,

          FrontEnd Service ArtifactsStorageType etc.'
      appLogsConfiguration:
        $ref: '#/definitions/AppLogsConfiguration'
        description: 'Cluster configuration which enables the log daemon to export

          app logs to a destination. Currently only "log-analytics" is

          supported'
      containerAppsConfiguration:
        $ref: '#/definitions/ContainerAppsConfiguration'
        description: Cluster configuration for Container Apps Environments to configure Dapr Instrumentation Key and VNET Configuration
      aksResourceID:
        type: string
        x-ms-mutability:
        - read
        - create
  DefaultErrorResponseError:
    type: object
    description: Error model.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      details:
        type: array
        items:
          $ref: '#/definitions/DefaultErrorResponseErrorDetailsItem'
        x-ms-identifiers: []
      innererror:
        type: string
        description: More information to debug error.
        readOnly: true
  FrontEndServiceType:
    type: string
    enum:
    - NodePort
    - LoadBalancer
    x-ms-enum:
      name: FrontEndServiceType
      modelAsString: false
  DefaultErrorResponseErrorDetailsItem:
    type: object
    description: Detailed errors.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
  AppLogsConfiguration:
    type: object
    properties:
      destination:
        type: string
      logAnalyticsConfiguration:
        $ref: '#/definitions/LogAnalyticsConfiguration'
  ProxyOnlyResource:
    type: object
    description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
    properties:
      id:
        type: string
        description: Resource Id.
        readOnly: true
      name:
        type: string
        description: Resource Name.
        readOnly: true
      kind:
        type: string
        description: Kind of resource.
      type:
        type: string
        description: Resource type.
        readOnly: true
  LogAnalyticsConfiguration:
    type: object
    properties:
      customerId:
        type: string
      sharedKey:
        type: string
        format: password
        x-ms-mutability:
        - update
        - create
        x-ms-secret: true
  KubeEnvironmentPatchResource:
    type: object
    description: ARM resource for a KubeEnvironment when patching
    properties:
      properties:
        $ref: '#/definitions/KubeEnvironmentPatchResourceProperties'
        description: KubeEnvironmentPatchResource resource specific properties
        x-ms-client-flatten: true
    allOf:
    - $ref: '#/definitions/ProxyOnlyResource'
  ContainerAppsConfiguration:
    type: object
    properties:
      daprAIInstrumentationKey:
        type: string
        description: Azure Monitor instrumentation key used by Dapr to export Service to Service communication telemetry
        x-ms-mutability:
        - read
        - create
      platformReservedCidr:
        type: string
        description: IP range in CIDR notation that can be reserved for environment infrastructure IP addresses. It must not overlap with any other Subnet IP ranges.
        x-ms-mutability:
        - read
        - create
      platformReservedDnsIP:
        type: string
        description: An IP address from the IP range defined by platformReservedCidr that will be reserved for the internal DNS server
        x-ms-mutability:
        - read
        - create
      controlPlaneSubnetResourceId:
        type: string
        description: Resource ID of a subnet for control plane infrastructure components. This subnet must be in the same VNET as the subnet defined in appSubnetResourceId. Must not overlap with the IP range defined in platformReservedCidr, if defined.
        x-ms-mutability:
        - read
        - create
      appSubnetResourceId:
        type: string
        description: Resource ID of a subnet for control plane infrastructure components. This subnet must be in the same VNET as the subnet defined in appSubnetResourceId. Must not overlap with the IP range defined in platformReservedCidr, if defined.
        x-ms-mutability:
        - read
        - create
      dockerBridgeCidr:
        type: string
        description: CIDR notation IP range assigned to the Docker bridge network. It must not overlap with any Subnet IP ranges or the IP range defined in platformReservedCidr, if defined.
        x-ms-mutability:
        - read
        - create
  ArcConfiguration:
    type: object
    properties:
      artifactsStorageType:
        $ref: '#/definitions/StorageType'
        x-ms-mutability:
        - read
        - create
      artifactStorageClassName:
        type: string
        x-ms-mutability:
        - read
        - create
      artifactStorageMountPath:
        type: string
        x-ms-mutability:
        - read
        - create
      artifactStorageNodeName:
        type: string
        x-ms-mutability:
        - read
        - create
      artifactStorageAccessMode:
        type: string
        x-ms-mutability:
        - read
        - create
      frontEndServiceConfiguration:
        $ref: '#/definitions/FrontEndConfiguration'
      kubeConfig:
        type: string
        format: password
        x-ms-mutability:
        - update
        - create
        x-ms-secret: true
  KubeEnvironmentProvisioningState:
    type: string
    description: Provisioning state of the Kubernetes Environment.
    enum:
    - Succeeded
    - Failed
    - Canceled
    - Waiting
    - InitializationInProgress
    - InfrastructureSetupInProgress
    - InfrastructureSetupComplete
    - ScheduledForDelete
    - UpgradeRequested
    - UpgradeFailed
    x-ms-enum:
      name: KubeEnvironmentProvisioningState
      modelAsString: false
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
