swagger: '2.0'
info:
  title: WebApps API Client AppServiceEnvironments API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: AppServiceEnvironments
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments:
    get:
      operationId: AppServiceEnvironments_List
      tags:
      - AppServiceEnvironments
      summary: Get all App Service Environments for a subscription.
      description: Description for Get all App Service Environments for a subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServiceEnvironmentCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all App Service Environments for a subscription.:
          $ref: ./examples/AppServiceEnvironments_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments:
    get:
      operationId: AppServiceEnvironments_ListByResourceGroup
      tags:
      - AppServiceEnvironments
      summary: Get all App Service Environments in a resource group.
      description: Description for Get all App Service Environments in a resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServiceEnvironmentCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all App Service Environments in a resource group.:
          $ref: ./examples/AppServiceEnvironments_ListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}:
    get:
      operationId: AppServiceEnvironments_Get
      tags:
      - AppServiceEnvironments
      summary: Get the properties of an App Service Environment.
      description: Description for Get the properties of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get the properties of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_Get.json
    put:
      operationId: AppServiceEnvironments_CreateOrUpdate
      tags:
      - AppServiceEnvironments
      summary: Create or update an App Service Environment.
      description: Description for Create or update an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: hostingEnvironmentEnvelope
        in: body
        description: Configuration details of the App Service Environment.
        required: true
        schema:
          $ref: '#/definitions/AppServiceEnvironmentResource'
      responses:
        '200':
          description: Resource 'AppServiceEnvironmentResource' update operation succeeded
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
        '201':
          description: Resource 'AppServiceEnvironmentResource' create operation succeeded
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_CreateOrUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/AppServiceEnvironmentResource'
      x-ms-long-running-operation: true
    patch:
      operationId: AppServiceEnvironments_Update
      tags:
      - AppServiceEnvironments
      summary: Create or update an App Service Environment.
      description: Description for Create or update an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: hostingEnvironmentEnvelope
        in: body
        description: Configuration details of the App Service Environment.
        required: true
        schema:
          $ref: '#/definitions/AppServiceEnvironmentPatchResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
        '201':
          description: Resource 'AppServiceEnvironmentResource' create operation succeeded
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/AppServiceEnvironmentResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_Update.json
    delete:
      operationId: AppServiceEnvironments_Delete
      tags:
      - AppServiceEnvironments
      summary: Delete an App Service Environment.
      description: Description for Delete an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: forceDelete
        in: query
        description: Specify <code>true</code> to force the deletion even if the App Service Environment contains resources. The default is <code>false</code>.
        required: false
        type: boolean
      responses:
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute
  : get:
      operationId: AppServiceEnvironments_ListCapacities
      tags:
      - AppServiceEnvironments
      summary: Get the used, available, and total worker capacity an App Service Environment.
      description: Description for Get the used, available, and total worker capacity an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/StampCapacityCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get the used, available, and total worker capacity an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListCapacities.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip
  : get:
      operationId: AppServiceEnvironments_GetVipInfo
      tags:
      - AppServiceEnvironments
      summary: Get IP addresses assigned to an App Service Environment.
      description: Description for Get IP addresses assigned to an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AddressResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get IP addresses assigned to an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_GetVipInfo.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/changeVirtualNetwork
  : post:
      operationId: AppServiceEnvironments_ChangeVnet
      tags:
      - AppServiceEnvironments
      summary: Move an App Service Environment to a different VNET.
      description: Description for Move an App Service Environment to a different VNET.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: vnetInfo
        in: body
        description: Details for the new virtual network.
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkProfile'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WebAppCollection'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WebAppCollection'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Move an App Service Environment to a different VNET.:
          $ref: ./examples/AppServiceEnvironments_ChangeVnet.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/WebAppCollection'
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/configurations/customdnssuffix
  : get:
      operationId: AppServiceEnvironments_GetAseCustomDnsSuffixConfiguration
      tags:
      - AppServiceEnvironments
      summary: Get Custom Dns Suffix configuration of an App Service Environment
      description: Get Custom Dns Suffix configuration of an App Service Environment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/CustomDnsSuffixConfiguration'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get ASE custom DNS suffix configuration:
          $ref: ./examples/GetAseCustomDnsSuffixConfiguration.json
    put:
      operationId: AppServiceEnvironments_UpdateAseCustomDnsSuffixConfiguration
      tags:
      - AppServiceEnvironments
      summary: Update Custom Dns Suffix configuration of an App Service Environment
      description: Update Custom Dns Suffix configuration of an App Service Environment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: customDnsSuffixConfiguration
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/CustomDnsSuffixConfiguration'
      responses:
        '200':
          description: Resource 'CustomDnsSuffixConfiguration' update operation succeeded
          schema:
            $ref: '#/definitions/CustomDnsSuffixConfiguration'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Update ASE custom DNS suffix configuration:
          $ref: ./examples/UpdateAseCustomDnsSuffixConfiguration.json
    delete:
      operationId: AppServiceEnvironments_DeleteAseCustomDnsSuffixConfiguration
      tags:
      - AppServiceEnvironments
      summary: Delete Custom Dns Suffix configuration of an App Service Environment
      description: Delete Custom Dns Suffix configuration of an App Service Environment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema: {}
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Delete ASE custom DNS suffix configuration:
          $ref: ./examples/DeleteAseCustomDnsSuffixConfiguration.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/configurations/networking
  : get:
      operationId: AppServiceEnvironments_GetAseV3NetworkingConfiguration
      tags:
      - AppServiceEnvironments
      summary: Get networking configuration of an App Service Environment
      description: Description for Get networking configuration of an App Service Environment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AseV3NetworkingConfiguration'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get networking configuration of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_GetAseV3NetworkingConfiguration.json
    put:
      operationId: AppServiceEnvironments_UpdateAseNetworkingConfiguration
      tags:
      - AppServiceEnvironments
      summary: Update networking configuration of an App Service Environment
      description: Description for Update networking configuration of an App Service Environment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: aseNetworkingConfiguration
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/AseV3NetworkingConfiguration'
      responses:
        '200':
          description: Resource 'AseV3NetworkingConfiguration' update operation succeeded
          schema:
            $ref: '#/definitions/AseV3NetworkingConfiguration'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Update networking configuration of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_UpdateAseNetworkingConfiguration.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics
  : get:
      operationId: AppServiceEnvironments_ListDiagnostics
      tags:
      - AppServiceEnvironments
      summary: Get diagnostic information for an App Service Environment.
      description: Description for Get diagnostic information for an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/HostingEnvironmentDiagnostics'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get diagnostic information for an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListDiagnostics.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/inboundNetworkDependenciesEndpoints
  : get:
      operationId: AppServiceEnvironments_GetInboundNetworkDependenciesEndpoints
      tags:
      - AppServiceEnvironments
      summary: Get the network endpoints of all inbound dependencies of an App Service Environment.
      description: Description for Get the network endpoints of all inbound dependencies of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/InboundEnvironmentEndpointCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get the network endpoints of all inbound dependencies of an App Service Environment.:
          $ref: ./examples/GetInboundNetworkDependenciesEndpoints.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools
  : get:
      operationId: AppServiceEnvironments_ListMultiRolePools
      tags:
      - AppServiceEnvironments
      summary: Get all multi-role pools.
      description: Description for Get all multi-role pools.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WorkerPoolCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all multi-role pools.:
          $ref: ./examples/AppServiceEnvironments_ListMultiRolePools.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default
  : get:
      operationId: AppServiceEnvironments_GetMultiRolePool
      tags:
      - AppServiceEnvironments
      summary: Get properties of a multi-role pool.
      description: Description for Get properties of a multi-role pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get properties of a multi-role pool.:
          $ref: ./examples/AppServiceEnvironments_GetMultiRolePool.json
    put:
      operationId: AppServiceEnvironments_CreateOrUpdateMultiRolePool
      tags:
      - AppServiceEnvironments
      summary: Create or update a multi-role pool.
      description: Description for Create or update a multi-role pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: multiRolePoolEnvelope
        in: body
        description: Properties of the multi-role pool.
        required: true
        schema:
          $ref: '#/definitions/WorkerPoolResource'
      responses:
        '200':
          description: Resource 'WorkerPoolResource' update operation succeeded
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update a multi-role pool.:
          $ref: ./examples/AppServiceEnvironments_CreateOrUpdateMultiRolePool.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/WorkerPoolResource'
      x-ms-long-running-operation: true
    patch:
      operationId: AppServiceEnvironments_UpdateMultiRolePool
      tags:
      - AppServiceEnvironments
      summary: Create or update a multi-role pool.
      description: Description for Create or update a multi-role pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: multiRolePoolEnvelope
        in: body
        description: Properties of the multi-role pool.
        required: true
        schema:
          $ref: '#/definitions/WorkerPoolResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Create or update a multi-role pool.:
          $ref: ./examples/AppServiceEnvironments_CreateOrUpdateMultiRolePool_UpdateMultiRolePool.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions
  : get:
      operationId: AppServiceEnvironments_ListMultiRoleMetricDefinitions
      tags:
      - AppServiceEnvironments
      summary: Get metric definitions for a multi-role pool of an App Service Environment.
      description: Description for Get metric definitions for a multi-role pool of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceMetricDefinitionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get metric definitions for a multi-role pool of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListMultiRoleMetricDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus
  : get:
      operationId: AppServiceEnvironments_ListMultiRolePoolSkus
      tags:
      - AppServiceEnvironments
      summary: Get available SKUs for scaling a multi-role pool.
      description: Description for Get available SKUs for scaling a multi-role pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/SkuInfoCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get available SKUs for scaling a multi-role pool.:
          $ref: ./examples/AppServiceEnvironments_ListMultiRolePoolSkus.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages
  : get:
      operationId: AppServiceEnvironments_ListMultiRoleUsages
      tags:
      - AppServiceEnvironments
      summary: Get usage metrics for a multi-role pool of an App Service Environment.
      description: Description for Get usage metrics for a multi-role pool of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/UsageCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get usage metrics for a multi-role pool of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListMultiRoleUsages.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations
  : get:
      operationId: AppServiceEnvironments_ListOperations
      tags:
      - AppServiceEnvironments
      summary: List all currently running operations on the App Service Environment.
      description: Description for List all currently running operations on the App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/Operation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List all currently running operations on the App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListOperations.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/outboundNetworkDependenciesEndpoints
  : get:
      operationId: AppServiceEnvironments_GetOutboundNetworkDependenciesEndpoints
      tags:
      - AppServiceEnvironments
      summary: Get the network endpoints of all outbound dependencies of an App Service Environment.
      description: Description for Get the network endpoints of all outbound dependencies of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/OutboundEnvironmentEndpointCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get the network endpoints of all outbound dependencies of an App Service Environment.:
          $ref: ./examples/GetOutboundNetworkDependenciesEndpoints.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/privateEndpointConnections
  : get:
      operationId: AppServiceEnvironments_GetPrivateEndpointConnectionList
      tags:
      - AppServiceEnvironments
      summary: Gets the list of private endpoints associated with a hosting environment
      description: Description for Gets the list of private endpoints associated with a hosting environment
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/PrivateEndpointConnectionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Gets the list of private endpoints associated with a hosting environment.:
          $ref: ./examples/AppServiceEnvironments_GetPrivateEndpointConnectionList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      operationId: AppServiceEnvironments_GetPrivateEndpointConnection
      tags:
      - AppServiceEnvironments
      summary: Gets a private endpoint connection
      description: Description for Gets a private endpoint connection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: privateEndpointConnectionName
        in: path
        description: Name of the private endpoint connection.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/RemotePrivateEndpointConnectionARMResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Gets a private endpoint connection.:
          $ref: ./examples/AppServiceEnvironments_GetPrivateEndpointConnection.json
    put:
      operationId: AppServiceEnvironments_ApproveOrRejectPrivateEndpointConnection
      tags:
      - AppServiceEnvironments
      summary: Approves or rejects a private endpoint connection
      description: Description for Approves or rejects a private endpoint connection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: privateEndpointConnectionName
        in: path
        description: Name of the private endpoint connection.
        required: true
        type: string
      - name: privateEndpointWrapper
        in: body
        description: ''
        required: true
        schema:
          $ref: '#/definitions/RemotePrivateEndpointConnectionARMResource'
      responses:
        '200':
          description: Resource 'RemotePrivateEndpointConnectionARMResource' update operation succeeded
          schema:
            $ref: '#/definitions/RemotePrivateEndpointConnectionARMResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/RemotePrivateEndpointConnectionARMResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Approves or rejects a private endpoint connection.:
          $ref: ./examples/AppServiceEnvironments_ApproveOrRejectPrivateEndpointConnection.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RemotePrivateEndpointConnectionARMResource'
      x-ms-long-running-operation: true
    delete:
      operationId: AppServiceEnvironments_DeletePrivateEndpointConnection
      tags:
      - AppServiceEnvironments
      summary: Deletes a private endpoint connection
      description: Description for Deletes a private endpoint connection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: privateEndpointConnectionName
        in: path
        description: Name of the private endpoint connection.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema: {}
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema: {}
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Deletes a private endpoint connection.:
          $ref: ./examples/AppServiceEnvironments_DeletePrivateEndpointConnection.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/privateLinkResources
  : get:
      operationId: AppServiceEnvironments_GetPrivateLinkResources
      tags:
      - AppServiceEnvironments
      summary: Gets the private link resources
      description: Description for Gets the private link resources
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/PrivateLinkResourcesWrapper'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Gets the private link resources.:
          $ref: ./examples/AppServiceEnvironments_GetPrivateLinkResources.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot
  : post:
      operationId: AppServiceEnvironments_Reboot
      tags:
      - AppServiceEnvironments
      summary: Reboot all machines in an App Service Environment.
      description: Description for Reboot all machines in an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Reboot all machines in an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_Reboot.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume
  : post:
      operationId: AppServiceEnvironments_Resume
      tags:
      - AppServiceEnvironments
      summary: Resume an App Service Environment.
      description: Description for Resume an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WebAppCollection'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WebAppCollection'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Resume an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_Resume.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/WebAppCollection'
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms
  : get:
      operationId: AppServiceEnvironments_ListAppServicePlans
      tags:
      - AppServiceEnvironments
      summary: Get all App Service plans in an App Service Environment.
      description: Description for Get all App Service plans in an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/AppServicePlanCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all App Service plans in an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListAppServicePlans.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites
  : get:
      operationId: AppServiceEnvironments_ListWebApps
      tags:
      - AppServiceEnvironments
      summary: Get all apps in an App Service Environment.
      description: Description for Get all apps in an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: propertiesToInclude
        in: query
        description: Comma separated list of app properties to include.
        required: false
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WebAppCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all apps in an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListWebApps.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend
  : post:
      operationId: AppServiceEnvironments_Suspend
      tags:
      - AppServiceEnvironments
      summary: Suspend an App Service Environment.
      description: Description for Suspend an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WebAppCollection'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WebAppCollection'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Suspend an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_Suspend.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/WebAppCollection'
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/testUpgradeAvailableNotification
  : post:
      operationId: AppServiceEnvironments_TestUpgradeAvailableNotification
      tags:
      - AppServiceEnvironments
      summary: Send a test notification that an upgrade is available for this App Service Environment.
      description: Send a test notification that an upgrade is available for this App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Send a test notification that an upgrade is available for this App Service Environment:
          $ref: ./examples/AppServiceEnvironments_TestUpgradeAvailableNotification.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/upgrade
  : post:
      operationId: AppServiceEnvironments_Upgrade
      tags:
      - AppServiceEnvironments
      summary: Initiate an upgrade of an App Service Environment if one is available.
      description: Description for Initiate an upgrade of an App Service Environment if one is available.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              type: integer
              format: int32
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Initiate an upgrade on an App Service Environment:
          $ref: ./examples/AppServiceEnvironments_Upgrade.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages
  : get:
      operationId: AppServiceEnvironments_ListUsages
      tags:
      - AppServiceEnvironments
      summary: Get global usage metrics of an App Service Environment.
      description: Description for Get global usage metrics of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: $filter
        in: query
        description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration''[Hour|Minute|Day]''.'
        required: false
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/CsmUsageQuotaCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get global usage metrics of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListUsages.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools
  : get:
      operationId: AppServiceEnvironments_ListWorkerPools
      tags:
      - AppServiceEnvironments
      summary: Get all worker pools of an App Service Environment.
      description: Description for Get all worker pools of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WorkerPoolCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get all worker pools of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListWorkerPools.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}
  : get:
      operationId: AppServiceEnvironments_GetWorkerPool
      tags:
      - AppServiceEnvironments
      summary: Get properties of a worker pool.
      description: Description for Get properties of a worker pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get properties of a worker pool.:
          $ref: ./examples/AppServiceEnvironments_GetWorkerPool.json
    put:
      operationId: AppServiceEnvironments_CreateOrUpdateWorkerPool
      tags:
      - AppServiceEnvironments
      summary: Create or update a worker pool.
      description: Description for Create or update a worker pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      - name: workerPoolEnvelope
        in: body
        description: Properties of the worker pool.
        required: true
        schema:
          $ref: '#/definitions/WorkerPoolResource'
      responses:
        '200':
          description: Resource 'WorkerPoolResource' update operation succeeded
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
          headers:
            Location:
              type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get properties of a worker pool.:
          $ref: ./examples/AppServiceEnvironments_CreateOrUpdateWorkerPool_CreateOrUpdateWorkerPool.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/WorkerPoolResource'
      x-ms-long-running-operation: true
    patch:
      operationId: AppServiceEnvironments_UpdateWorkerPool
      tags:
      - AppServiceEnvironments
      summary: Create or update a worker pool.
      description: Description for Create or update a worker pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      - name: workerPoolEnvelope
        in: body
        description: Properties of the worker pool.
        required: true
        schema:
          $ref: '#/definitions/WorkerPoolResource'
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          schema:
            $ref: '#/definitions/WorkerPoolResource'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get properties of a worker pool.:
          $ref: ./examples/AppServiceEnvironments_CreateOrUpdateWorkerPool.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metricdefinitions
  : get:
      operationId: AppServiceEnvironments_ListWebWorkerMetricDefinitions
      tags:
      - AppServiceEnvironments
      summary: Get metric definitions for a worker pool of an App Service Environment.
      description: Description for Get metric definitions for a worker pool of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceMetricDefinitionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get metric definitions for a worker pool of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListWebWorkerMetricDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/skus
  : get:
      operationId: AppServiceEnvironments_ListWorkerPoolSkus
      tags:
      - AppServiceEnvironments
      summary: Get available SKUs for scaling a worker pool.
      description: Description for Get available SKUs for scaling a worker pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/SkuInfoCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get available SKUs for scaling a worker pool.:
          $ref: ./examples/AppServiceEnvironments_ListWorkerPoolSkus.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/usages
  : get:
      operationId: AppServiceEnvironments_ListWebWorkerUsages
      tags:
      - AppServiceEnvironments
      summary: Get usage metrics for a worker pool of an App Service Environment.
      description: Description for Get usage metrics for a worker pool of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/UsageCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get usage metrics for a worker pool of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListWebWorkerUsages.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}
  : get:
      operationId: AppServiceEnvironments_GetDiagnosticsItem
      tags:
      - AppServiceEnvironments
      summary: Get a diagnostics item for an App Service Environment.
      description: Description for Get a diagnostics item for an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the app.
        required: true
        type: string
      - name: diagnosticsName
        in: path
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/HostingEnvironmentDiagnostics'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get a diagnostics item for an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_GetDiagnosticsItem.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions
  : get:
      operationId: AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions
      tags:
      - AppServiceEnvironments
      summary: Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.
      description: Description for Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: instance
        in: path
        description: Name of the instance in the multi-role pool.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceMetricDefinitionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metricdefinitions
  : get:
      operationId: AppServiceEnvironments_ListWorkerPoolInstanceMetricDefinitions
      tags:
      - AppServiceEnvironments
      summary: Get metric definitions for a specific instance of a worker pool of an App Service Environment.
      description: Description for Get metric definitions for a specific instance of a worker pool of an App Service Environment.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of the App Service Environment.
        required: true
        type: string
      - name: workerPoolName
        in: path
        description: Name of the worker pool.
        required: true
        type: string
      - name: instance
        in: path
        description: Name of the instance in the worker pool.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceMetricDefinitionCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get metric definitions for a specific instance of a worker pool of an App Service Environment.:
          $ref: ./examples/AppServiceEnvironments_ListWorkerPoolInstanceMetricDefinitions.json
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ErrorEntity:
    type: object
    description: Body of the error response returned from the API.
    properties:
      extendedCode:
        type: string
        description: Type of error.
      messageTemplate:
        type: string
        description: Message template.
      parameters:
        type: array
        description: Parameters for the template.
        items:
          type: string
      innerErrors:
        type: array
        description: Inner errors.
        items:
          $ref: '#/definitions/ErrorEntity'
        x-ms-identifiers: []
      details:
        type: array
        description: Error Details.
        items:
          $ref: '#/definitions/ErrorEntity'
        x-ms-identifiers: []
      target:
        type: string
        description: The error target.
      code:
        type: string
        description: Basic error code.
      message:
        type: string
        description: Any details of the error.
  ApiManagementConfig:
    type: object
    description: Azure API management (APIM) configuration linked to the app.
    properties:
      id:
        type: string
        description: APIM-Api Identifier.
  ArmIdWrapper:
    type: object
    description: A wrapper for an ARM resource id
    properties:
      id:
        type: string
        readOnly: true
  FunctionsScaleAndConcurrencyTriggers:
    type: object
    description: Scale and concurrency settings for the function app triggers.
    properties:
      http:
        $ref: '#/definitions/FunctionsScaleAndConcurrencyTriggersHttp'
        description: Scale and concurrency settings for the HTTP trigger.
  FunctionsDeploymentStorageAuthentication:
    type: object
    description: Authentication method to access the storage account for deployment.
    properties:
      type:
        $ref: '#/definitions/AuthenticationType'
        description: 'Property to select authentication type to access the selected storage account. Available options: SystemAssignedIdentity, UserAssignedIdentity, StorageAccountConnectionString.'
      userAssignedIdentityResourceId:
        type: string
        description: Use this property for UserAssignedIdentity. Set the resource ID of the identity. Do not set a value for this property when using other authentication type.
      storageAccountConnectionStringName:
        type: string
        description: Use this property for StorageAccountConnectionString. Set the name of the app setting that has the storage account connection string. Do not set a value for this property when using other authentication type.
  RedundancyMode:
    type: string
    description: Site redundancy mode
    enum:
    - None
    - Manual
    - Failover
    - ActiveActive
    - GeoRedundant
    x-ms-enum:
      name: RedundancyMode
      modelAsString: false
  RuntimeName:
    type: string
    description: 'Function app runtime name. Available options: dotnet-isolated, node, java, powershell, python, custom'
    enum:
    - dotnet-isolated
    - node
    - java
    - powershell
    - python
    - custom
    x-ms-enum:
      name: RuntimeName
      modelAsString: true
      values:
      - name: dotnet-isolated
        value: dotnet-isolated
      - name: node
        value: node
      - name: java
        value: java
      - name: powershell
        value: powershell
      - name: python
        value: python
      - name: custom
        value: custom
  RampUpRule:
    type: object
    description: Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance.
    properties:
      actionHostName:
        type: string
        description: Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net.
      reroutePercentage:
        type: number
        format: double
        description: Percentage of the traffic which will be redirected to <code>ActionHostName</code>.
      changeStep:
        type: number
        format: double
        description: 'In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches \n<code>MinReroutePercentage</code> or

          <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.\nCustom decision algorithm

          can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.'
      changeIntervalInMinutes:
        type: integer
        format: int32
        description: Specifies interval in minutes to reevaluate ReroutePercentage.
      minReroutePercentage:
        type: number
        format: double
        description: Specifies lower boundary above which ReroutePercentage will stay.
      maxReroutePercentage:
        type: number
        format: double
        description: Specifies upper boundary below which ReroutePercentage will stay.
      changeDecisionCallbackUrl:
        type: string
        description: Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified.
      name:
        type: string
        description: Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment.
  ResourceConfig:
    type: object
    description: Function app resource requirements.
    properties:
      cpu:
        type: number
        format: double
        description: Required CPU in cores, e.g. 0.5
      memory:
        type: string
        description: Required memory, e.g. "1Gi"
  AzureStorageInfoValue:
    type: object
    description: Azure Files or Blob Storage access information value for dictionary storage.
    properties:
      type:
        $ref: '#/definitions/AzureStorageType'
        description: Type of storage.
      accountName:
        type: string
        description: Name of the storage account.
      shareName:
        type: string
        description: Name of the file share (container name, for Blob storage).
      accessKey:
        type: string
        format: password
        description: Access key for the storage account.
        x-ms-secret: true
      mountPath:
        type: string
        description: Path to mount the storage within the site's runtime environment.
      state:
        $ref: '#/definitions/AzureStorageState'
        description: State of the storage account.
        readOnly: true
      protocol:
        $ref: '#/definitions/AzureStorageProtocol'
        description: Mounting protocol to use for the storage account.
  Operation:
    type: object
    description: An operation on a resource.
    properties:
      id:
        type: string
        description: Operation ID.
      name:
        type: string
        description: Operation name.
      status:
        $ref: '#/definitions/OperationStatus'
        description: The current status of the operation.
      errors:
        type: array
        description: Any errors associate with the operation.
        items:
          $ref: '#/definitions/ErrorEntity'
        x-ms-identifiers: []
      createdTime:
        type: string
        format: date-time
        description: Time when operation has started.
      modifiedTime:
        type: string
        format: date-time
        description: Time when operation has been updated.
      expirationTime:
        type: string
        format: date-time
        description: Time when operation will expire.
      geoMasterOperationId:
        type: string
        format: uuid
        description: Applicable only for stamp operation ids.
  SkuCapacity:
    type: object
    description: Description of the App Service plan scale options.
    properties:
      minimum:
        type: integer
        format: int32
        description: Minimum number of workers for this App Service plan SKU.
      maximum:
        type: integer
        format: int32
        description: Maximum number of workers for this App Service plan SKU.
      elasticMaximum:
        type: integer
        format: int32
        description: Maximum number of Elastic workers for this App Service plan SKU.
      default:
        type: integer
        format: int32
        description: Default number of workers for this App Service plan SKU.
      scaleType:
        type: string
        description: Available scale configurations for an App Service plan.
  StorageMountType:
    type: string
    description: Type of the storage mount.
    enum:
    - AzureFiles
    - LocalStorage
    - FileShare
    x-ms-enum:
      name: StorageMountType
      modelAsString: true
      values:
      - name: AzureFiles
        value: AzureFiles
      - name: LocalStorage
        value: LocalStorage
      - name: FileShare
        value: FileShare
  FunctionsAlwaysReadyConfig:
    type: object
    description: Sets the number of 'Always Ready' instances for a function group or a specific function.
    properties:
      name:
        type: string
        description: Either a function group or a function name is required. For additional information see https://aka.ms/flexconsumption/alwaysready.
      instanceCount:
        type: integer
        format: int32
        description: Sets the number of 'Always Ready' instances for a given function group or a specific function. For additional information see https://aka.ms/flexconsumption/alwaysready.
  ConnectionStringType:
    type: string
    description: Type of database.
    enum:
    - MySql
    - SQLServer
    - SQLAzure
    - Custom
    - NotificationHub
    - ServiceBus
    - EventHub
    - ApiHub
    - DocDb
    - RedisCache
    - PostgreSQL
    x-ms-enum:
      name: ConnectionStringType
      modelAsString: false
  SkuInfoCollection:
    type: object
    description: Paged collection of SkuInfo items
    properties:
      value:
        type: array
        description: The SkuInfo items on this page
        items:
          $ref: '#/definitions/SkuInfo'
        x-ms-identifiers:
        - /sku/name
        - resourceType
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  EndpointDependency:
    type: object
    description: A domain name that a service is reached at, including details of the current connection status.
    properties:
      domainName:
        type: string
        description: The domain name of the dependency.
      endpointDetails:
        type: array
        description: The IP Addresses and Ports used when connecting to DomainName.
        items:
          $ref: '#/definitions/EndpointDetail'
        x-ms-identifiers:
        - ipAddress
        - port
  AzureStorageType:
    type: string
    description: Type of storage.
    enum:
    - AzureFiles
    - AzureBlob
    x-ms-enum:
      name: AzureStorageType
      modelAsString: false
  AutoHealActionType:
    type: string
    description: Predefined action to be taken.
    enum:
    - Recycle
    - LogEvent
    - CustomAction
    x-ms-enum:
      name: AutoHealActionType
      modelAsString: false
  WebAppCollection:
    type: object
    description: Collection of App Service apps.
    properties:
      value:
        type: array
        description: The Site items on this page
        items:
          $ref: '#/definitions/Site'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  PushSettings:
    type: object
    description: Push settings for the App.
    properties:
      properties:
        $ref: '#/definitions/PushSettingsProperties'
        description: PushSettings resource specific properties
        x-ms-client-flatten: true
    allOf:
    - $ref: '#/definitions/ProxyOnlyResource'
  PushSettingsProperties:
    type: object
    description: PushSettings resource specific properties
    properties:
      isPushEnabled:
        type: boolean
        description: Gets or sets a flag indicating whether the Push endpoint is enabled.
      tagWhitelistJson:
        type: string
        description: Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint.
      tagsRequiringAuth:
        type: string
        description: "Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.\nTags can consist of alphanumeric characters and the following:\n'_', '@', '#', '.', ':', '-'. \nValidation should be performed at the PushRequestHandler."
      dynamicTagsJson:
        type: string
        description: Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint.
    required:
    - isPushEnabled
  InboundEnvironmentEndpointCollection:
    type: object
    description: Collection of Inbound Environment Endpoints
    properties:
      value:
        type: array
        description: The InboundEnvironmentEndpoint items on this page
        items:
          $ref: '#/definitions/InboundEnvironmentEndpoint'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
  KeyVaultReferenceWithStatus:
    type: object
    description: Object to hold key vault reference and the resolution status
    properties:
      secretUri:
        type: string
        description: Key vault secret URI.
      referenceStatus:
        type: string
        description: Reference status of the key vault secret.
  StampCapacity:
    type: object
    description: Stamp capacity information.
    properties:
      name:
        type: string
        description: Name of the stamp.
      availableCapacity:
        type: integer
        format: int64
        description: Available capacity (# of machines, bytes of storage etc...).
      totalCapacity:
        type: integer
        format: int64
        description: Total capacity (# of machines, bytes of storage etc...).
      unit:
        type: string
        description: Name of the unit.
      computeMode:
        $ref: '#/definitions/ComputeModeOptions'
        description: Shared/dedicated workers.
      workerSize:
        $ref: '#/definitions/WorkerSizeOptions'
        description: Size of the machines.
      workerSizeId:
        type: integer
        format: int32
        description: 'Size ID of machines:

          0 - Small

          1 - Medium

          2 - Large'
      excludeFromCapacityAllocation:
        type: boolean
        description: 'If <code>true</code>, it includes basic apps.

          Basic apps are not used for capacity allocation.'
      isApplicableForAllComputeModes:
        type: boolean
        description: <code>true</code> if capacity is applicable for all apps; otherwise, <code>false</code>.
      siteMode:
        type: string
        description: Shared or Dedicated.
      isLinux:
        type: boolean
        description: Is this a linux stamp capacity
  PrivateLinkResourceProperties:
    type: object
    description: Properties of a private link resource
    properties:
      groupId:
        type: string
        description: GroupId of a private link resource
        readOnly: true
      requiredMembers:
        type: array
        description: RequiredMembers of a private link resource
        items:
          type: string
        readOnly: true
      requiredZoneNames:
        type: array
        description: RequiredZoneNames of a private link resource
        items:
          type: string
        readOnly: true
  PrivateLinkResource:
    type: object
    description: A private link resource
    properties:
      id:
        type: string
      name:
        type: string
        description: Name of a private link resource
      type:
        type: string
      properties:
        $ref: '#/definitions/PrivateLinkResourceProperties'
        description: Properties of a private link resource
    required:
    - id
    - name
    - type
    - properties
  WorkerPoolResource:
    type: object
    description: Worker pool of an App Service Environment ARM resource.
    properties:
      properties:
        $ref: '#/definitions/WorkerPool'
        description: Core resource properties
        x-ms-client-flatten: true
      sku:
        $ref: '#/definitions/SkuDescription'
        description: Description of a SKU for a scalable resource.
      kind:
        type: string
        description: Kind of resource. If the resource is an app, you can refer to https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md#app-service-resource-kind-reference for details supported values for kind.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  CustomDnsSuffixConfiguration:
    type: object
    description: Full view of the custom domain suffix configuration for ASEv3.
    properties:
      properties:
        $ref: '#/definitions/CustomDnsSuffixConfigurationProperties'
        description: CustomDnsSuffixConfiguration resource specific properties
        x-ms-client-flatten: true
      kind:
        type: string
        description: Kind of resource.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  AddressResponseProperties:
    type: object
    description: AddressResponse resource specific properties
    properties:
      serviceIpAddress:
        type: string
        description: Main public virtual IP.
      internalIpAddress:
        type: string
        description: Virtual Network internal IP address of the App Service Environment if it is in internal load-balancing mode.
      outboundIpAddresses:
        type: array
        description: IP addresses appearing on outbound connections.
        items:
          type: string
      vipMappings:
        type: array
        description: Additional virtual IPs.
        items:
          $ref: '#/definitions/VirtualIPMapping'
        x-ms-identifiers:
        - virtualIP
  FunctionsRuntime:
    type: object
    description: Function app runtime name and version.
    properties:
      name:
        $ref: '#/definitions/RuntimeName'
        description: 'Function app runtime name. Available options: dotnet-isolated, node, java, powershell, python, custom'
      version:
        type: string
        description: 'Function app runtime version. Example: 8 (for dotnet-isolated)'
        x-nullable: true
  CustomDnsSuffixConfigurationProperties:
    type: object
    description: CustomDnsSuffixConfiguration resource specific properties
    properties:
      provisioningState:
        $ref: '#/definitions/CustomDnsSuffixProvisioningState'
        readOnly: true
      provisioningDetails:
        type: string
        readOnly: true
      dnsSuffix:
        type: string
        description: The default custom domain suffix to use for all sites deployed on the ASE.
      certificateUrl:
        type: string
        description: The URL referencing the Azure Key Vault certificate secret that should be used as the default SSL/TLS certificate for sites with the custom domain suffix.
      keyVaultReferenceIdentity:
        type: string
        description: The user-assigned identity to use for resolving the key vault certificate reference. If not specified, the system-assigned ASE identity will be used if available.
  ResourceMetricAvailability:
    type: object
    description: Metrics availability and retention.
    properties:
      timeGrain:
        type: string
        description: Time grain .
        readOnly: true
      retention:
        type: string
        description: Retention period for the current time grain.
        readOnly: true
  ManagedServiceIdentityType:
    type: string
    description: Type of managed service identity.
    enum:
    - SystemAssigned
    - UserAssigned
    - SystemAssigned, UserAssigned
    - None
    x-ms-enum:
      name: ManagedServiceIdentityType
      modelAsString: false
  RemotePrivateEndpointConnectionARMResource:
    type: object
    description: Remote Private Endpoint Connection ARM resource.
    properties:
      properties:
        $ref: '#/definitions/RemotePrivateEndpointConnectionARMResourceProperties'
        description: RemotePrivateEndpointConnectionARMResource resource specific properties
        x-ms-client-flatten: true
      kind:
        type: string
        description: Kind of resource.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  FtpsState:
    type: string
    description: State of FTP / FTPS service
    enum:
    - AllAllowed
    - FtpsOnly
    - Disabled
    x-ms-enum:
      name: FtpsState
      modelAsString: true
      values:
      - name: AllAllowed
        value: AllAllowed
      - name: FtpsOnly
        value: FtpsOnly
      - name: Disabled
        value: Disabled
  AseV3NetworkingConfiguration:
    type: object
    description: Full view of networking configuration for an ASE.
    properties:
      properties:
        $ref: '#/definitions/AseV3NetworkingConfigurationProperties'
        description: AseV3NetworkingConfiguration resource specific properties
        x-ms-client-flatten: true
      kind:
        type: string
[...]
