openapi: 3.2.0
info:
  title: WebApps API Client AppServiceEnvironments Workflow Versions API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: WorkflowVersions
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/versions
  : get:
      operationId: WorkflowVersions_List
      tags:
      - WorkflowVersions
      description: Gets a list of workflow versions.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - name: workflowName
        in: path
        description: The workflow name.
        required: true
        schema:
          type: string
      - name: $top
        in: query
        description: The number of items to be included in the result.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        List a workflows versions:
          $ref: ./examples/WorkflowVersions_List.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostruntime/runtime/webhooks/workflow/api/management/workflows/{workflowName}/versions/{versionId}
  : get:
      operationId: WorkflowVersions_Get
      tags:
      - WorkflowVersions
      description: Gets a workflow version.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Site name.
        required: true
        schema:
          type: string
      - name: workflowName
        in: path
        description: The workflow name.
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        description: The workflow versionId.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-examples:
        Get a workflow version:
          $ref: ./examples/WorkflowVersions_Get.json
components:
  schemas:
    FlowAccessControlConfigurationPolicy:
      type: object
      description: The access control configuration policy.
      properties:
        allowedCallerIpAddresses:
          type: array
          description: The allowed caller IP address ranges.
          items:
            $ref: '#/components/schemas/IpAddressRange'
          x-ms-identifiers: []
        openAuthenticationPolicies:
          $ref: '#/components/schemas/OpenAuthenticationAccessPolicies'
          description: The authentication policies for workflow.
    WorkflowSkuName:
      type: string
      description: The sku name.
      enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: WorkflowSkuName
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
        - name: Free
          value: Free
        - name: Shared
          value: Shared
        - name: Basic
          value: Basic
        - name: Standard
          value: Standard
        - name: Premium
          value: Premium
    ErrorProperties:
      type: object
      description: Error properties indicate why the Logic service was not able to process the incoming request. The reason is provided in the error message.
      properties:
        code:
          type: string
          description: Error code.
        message:
          type: string
          description: Error message indicating why the operation failed.
    FlowAccessControlConfiguration:
      type: object
      description: The access control configuration.
      properties:
        triggers:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for invoking workflow triggers.
        contents:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for accessing workflow run contents.
        actions:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for workflow actions.
        workflowManagement:
          $ref: '#/components/schemas/FlowAccessControlConfigurationPolicy'
          description: The access control configuration for workflow management.
    IpAddress:
      type: object
      description: The ip address.
      properties:
        address:
          type: string
          description: The address.
    ResourceReference:
      type: object
      description: The resource reference.
      properties:
        id:
          type: string
          description: The resource id.
        name:
          type: string
          description: Gets the resource name.
          readOnly: true
        type:
          type: string
          description: Gets the resource type.
          readOnly: true
    OpenAuthenticationProviderType:
      type: string
      description: Open authentication policy provider type.
      enum:
      - AAD
      x-ms-enum:
        name: OpenAuthenticationProviderType
        modelAsString: true
        values:
        - name: AAD
          value: AAD
    ErrorResponse:
      type: object
      description: Error response indicates Logic service is not able to process the incoming request. The error property contains the error details.
      properties:
        error:
          $ref: '#/components/schemas/ErrorProperties'
          description: The error properties.
    OpenAuthenticationAccessPolicies:
      type: object
      description: AuthenticationPolicy of type Open.
      properties:
        policies:
          type: object
          description: Open authentication policies.
          additionalProperties:
            $ref: '#/components/schemas/OpenAuthenticationAccessPolicy'
    OpenAuthenticationAccessPolicy:
      type: object
      description: Open authentication access policy defined by user.
      properties:
        type:
          $ref: '#/components/schemas/OpenAuthenticationProviderType'
          description: Type of provider for OAuth.
        claims:
          type: array
          description: The access policy claims.
          items:
            $ref: '#/components/schemas/OpenAuthenticationPolicyClaim'
          x-ms-identifiers:
          - name
    OpenAuthenticationPolicyClaim:
      type: object
      description: Open authentication policy claim.
      properties:
        name:
          type: string
          description: The name of the claim.
        value:
          type: string
          description: The value of the claim.
    FlowEndpointsConfiguration:
      type: object
      description: The endpoints configuration.
      properties:
        workflow:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The workflow endpoints.
        connector:
          $ref: '#/components/schemas/FlowEndpoints'
          description: The connector endpoints.
    WorkflowSku:
      type: object
      description: The sku type.
      properties:
        name:
          $ref: '#/components/schemas/WorkflowSkuName'
          description: The name.
        plan:
          $ref: '#/components/schemas/ResourceReference'
          description: The reference to plan.
      required:
      - name
    WorkflowProvisioningState:
      type: string
      description: The workflow provisioning state.
      enum:
      - NotSpecified
      - Accepted
      - Running
      - Ready
      - Creating
      - Created
      - Deleting
      - Deleted
      - Canceled
      - Failed
      - Succeeded
      - Moving
      - Updating
      - Registering
      - Registered
      - Unregistering
      - Unregistered
      - Completed
      - Renewing
      - Pending
      - Waiting
      - InProgress
      x-ms-enum:
        name: WorkflowProvisioningState
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
        - name: Accepted
          value: Accepted
        - name: Running
          value: Running
        - name: Ready
          value: Ready
        - name: Creating
          value: Creating
        - name: Created
          value: Created
        - name: Deleting
          value: Deleting
        - name: Deleted
          value: Deleted
        - name: Canceled
          value: Canceled
        - name: Failed
          value: Failed
        - name: Succeeded
          value: Succeeded
        - name: Moving
          value: Moving
        - name: Updating
          value: Updating
        - name: Registering
          value: Registering
        - name: Registered
          value: Registered
        - name: Unregistering
          value: Unregistering
        - name: Unregistered
          value: Unregistered
        - name: Completed
          value: Completed
        - name: Renewing
          value: Renewing
        - name: Pending
          value: Pending
        - name: Waiting
          value: Waiting
        - name: InProgress
          value: InProgress
    WorkflowVersionListResult:
      type: object
      description: The response of a WorkflowVersion list operation.
      properties:
        value:
          type: array
          description: The WorkflowVersion items on this page
          items:
            $ref: '#/components/schemas/WorkflowVersion'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    FlowEndpoints:
      type: object
      description: The flow endpoints configuration.
      properties:
        outgoingIpAddresses:
          type: array
          description: The outgoing ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
          x-ms-identifiers:
          - address
        accessEndpointIpAddresses:
          type: array
          description: The access endpoint ip address.
          items:
            $ref: '#/components/schemas/IpAddress'
          x-ms-identifiers:
          - address
    WorkflowVersionProperties:
      type: object
      description: The workflow version properties.
      properties:
        provisioningState:
          $ref: '#/components/schemas/WorkflowProvisioningState'
          description: The provisioning state.
          readOnly: true
        createdTime:
          type: string
          format: date-time
          description: Gets the created time.
          readOnly: true
        changedTime:
          type: string
          format: date-time
          description: Gets the changed time.
          readOnly: true
        state:
          $ref: '#/components/schemas/WorkflowState'
          description: The state.
        version:
          type: string
          description: Gets the version.
          readOnly: true
        accessEndpoint:
          type: string
          description: Gets the access endpoint.
          readOnly: true
        endpointsConfiguration:
          $ref: '#/components/schemas/FlowEndpointsConfiguration'
          description: The endpoints configuration.
        accessControl:
          $ref: '#/components/schemas/FlowAccessControlConfiguration'
          description: The access control configuration.
        sku:
          $ref: '#/components/schemas/WorkflowSku'
          description: The sku.
          readOnly: true
        integrationAccount:
          $ref: '#/components/schemas/ResourceReference'
          description: The integration account.
        definition:
          description: The definition.
        parameters:
          type: object
          description: The parameters.
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
    WorkflowVersion:
      type: object
      description: The workflow version.
      properties:
        properties:
          $ref: '#/components/schemas/WorkflowVersionProperties'
          description: The workflow version properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource
    WorkflowState:
      type: string
      description: The workflow state.
      enum:
      - NotSpecified
      - Completed
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      x-ms-enum:
        name: WorkflowState
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
        - name: Completed
          value: Completed
        - name: Enabled
          value: Enabled
        - name: Disabled
          value: Disabled
        - name: Deleted
          value: Deleted
        - name: Suspended
          value: Suspended
    WorkflowParameter:
      type: object
      description: The workflow parameters.
      properties:
        type:
          $ref: '#/components/schemas/ParameterType'
          description: The type.
        value:
          description: The value.
        metadata:
          description: The metadata.
        description:
          type: string
          description: The description.
    IpAddressRange:
      type: object
      description: The ip address range.
      properties:
        addressRange:
          type: string
          description: The IP address range.
    ParameterType:
      type: string
      description: The parameter type.
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      x-ms-enum:
        name: ParameterType
        modelAsString: true
        values:
        - name: NotSpecified
          value: NotSpecified
        - name: String
          value: String
        - name: SecureString
          value: SecureString
        - name: Int
          value: Int
        - name: Float
          value: Float
        - name: Bool
          value: Bool
        - name: Array
          value: Array
        - name: Object
          value: Object
        - name: SecureObject
          value: SecureObject
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
