swagger: '2.0'
info:
  title: WebApps API Client AppServiceEnvironments ResourceHealthMetadata API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
host: management.azure.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- azure_auth:
  - user_impersonation
tags:
- name: ResourceHealthMetadata
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata:
    get:
      operationId: ResourceHealthMetadata_List
      tags:
      - ResourceHealthMetadata
      summary: List all ResourceHealthMetadata for all sites in the subscription.
      description: Description for List all ResourceHealthMetadata for all sites in the subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceHealthMetadataCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List ResourceHealthMetadata for a subscription:
          $ref: ./examples/ListResourceHealthMetadataBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata:
    get:
      operationId: ResourceHealthMetadata_ListByResourceGroup
      tags:
      - ResourceHealthMetadata
      summary: List all ResourceHealthMetadata for all sites in the resource group in the subscription.
      description: Description for List all ResourceHealthMetadata for all sites in the resource group in the subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceHealthMetadataCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List ResourceHealthMetadata for a resource group:
          $ref: ./examples/ListResourceHealthMetadataByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata
  : get:
      operationId: ResourceHealthMetadata_ListBySite
      tags:
      - ResourceHealthMetadata
      summary: Gets the category of ResourceHealthMetadata to use for the given site as a collection
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site as a collection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of web app
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceHealthMetadataCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          $ref: ./examples/ListResourceHealthMetadataBySite.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/default
  : get:
      operationId: ResourceHealthMetadata_GetBySite
      tags:
      - ResourceHealthMetadata
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of web app
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceHealthMetadata'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get ResourceHealthMetadata:
          $ref: ./examples/GetResourceHealthMetadataBySite.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata
  : get:
      operationId: ResourceHealthMetadata_ListBySiteSlot
      tags:
      - ResourceHealthMetadata
      summary: Gets the category of ResourceHealthMetadata to use for the given site as a collection
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site as a collection
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of web app
        required: true
        type: string
      - name: slot
        in: path
        description: Name of web app slot. If not specified then will default to production slot.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceHealthMetadataCollection'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          $ref: ./examples/ListResourceHealthMetadataBySite_Slot.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata/default
  : get:
      operationId: ResourceHealthMetadata_GetBySiteSlot
      tags:
      - ResourceHealthMetadata
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      description: Description for Gets the category of ResourceHealthMetadata to use for the given site
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: Name of web app
        required: true
        type: string
      - name: slot
        in: path
        description: Name of web app slot. If not specified then will default to production slot.
        required: true
        type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          schema:
            $ref: '#/definitions/ResourceHealthMetadata'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/DefaultErrorResponse'
      x-ms-examples:
        Get ResourceHealthMetadata:
          $ref: ./examples/GetResourceHealthMetadataBySite_Slot.json
definitions:
  DefaultErrorResponse:
    type: object
    description: App Service error response.
    properties:
      error:
        $ref: '#/definitions/DefaultErrorResponseError'
        description: Error model.
        readOnly: true
  ResourceHealthMetadataProperties:
    type: object
    description: ResourceHealthMetadata resource specific properties
    properties:
      category:
        type: string
        description: The category that the resource matches in the RHC Policy File
      signalAvailability:
        type: boolean
        description: Is there a health signal for the resource
  DefaultErrorResponseError:
    type: object
    description: Error model.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      details:
        type: array
        items:
          $ref: '#/definitions/DefaultErrorResponseErrorDetailsItem'
        x-ms-identifiers: []
      innererror:
        type: string
        description: More information to debug error.
        readOnly: true
  DefaultErrorResponseErrorDetailsItem:
    type: object
    description: Detailed errors.
    properties:
      code:
        type: string
        description: Standardized string to programmatically identify the error.
        readOnly: true
      message:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
      target:
        type: string
        description: Detailed error description and debugging information.
        readOnly: true
  ResourceHealthMetadata:
    type: object
    description: Used for getting ResourceHealthCheck settings.
    properties:
      properties:
        $ref: '#/definitions/ResourceHealthMetadataProperties'
        description: ResourceHealthMetadata resource specific properties
        x-ms-client-flatten: true
      kind:
        type: string
        description: Kind of resource.
    allOf:
    - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  ResourceHealthMetadataCollection:
    type: object
    description: Collection of resource health metadata.
    properties:
      value:
        type: array
        description: The ResourceHealthMetadata items on this page
        items:
          $ref: '#/definitions/ResourceHealthMetadata'
      nextLink:
        type: string
        format: uri
        description: The link to the next page of items
    required:
    - value
securityDefinitions:
  azure_auth:
    type: oauth2
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    scopes:
      user_impersonation: impersonate your user account
