openapi: 3.2.0
info:
  title: WebApps API Client AppServiceEnvironments Operations API
  version: '2025-05-01'
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.Web/operations:
    get:
      operationId: Provider_ListOperations
      tags:
      - Operations
      summary: Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
      description: Description for Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsmOperationCollection'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
      x-ms-examples:
        List operations:
          $ref: ./examples/ListOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    CsmOperationDescription:
      type: object
      description: Description of an operation available for Microsoft.Web resource provider.
      properties:
        name:
          type: string
        isDataAction:
          type: boolean
        display:
          $ref: '#/components/schemas/CsmOperationDisplay'
          description: Meta data about operation used for display in portal.
        origin:
          type: string
        properties:
          $ref: '#/components/schemas/CsmOperationDescriptionProperties'
          description: Properties available for a Microsoft.Web resource provider operation.
    DefaultErrorResponse:
      type: object
      description: App Service error response.
      properties:
        error:
          $ref: '#/components/schemas/DefaultErrorResponseError'
          description: Error model.
          readOnly: true
    MetricSpecification:
      type: object
      description: Definition of a single resource metric.
      properties:
        name:
          type: string
        displayName:
          type: string
        displayDescription:
          type: string
        unit:
          type: string
        aggregationType:
          type: string
        supportsInstanceLevelAggregation:
          type: boolean
        enableRegionalMdmAccount:
          type: boolean
        sourceMdmAccount:
          type: string
        sourceMdmNamespace:
          type: string
        metricFilterPattern:
          type: string
        fillGapWithZero:
          type: boolean
        isInternal:
          type: boolean
        dimensions:
          type: array
          items:
            $ref: '#/components/schemas/Dimension'
          x-ms-identifiers:
          - name
        category:
          type: string
        availabilities:
          type: array
          items:
            $ref: '#/components/schemas/MetricAvailability'
          x-ms-identifiers: []
        supportedTimeGrainTypes:
          type: array
          items:
            type: string
        supportedAggregationTypes:
          type: array
          items:
            type: string
    CsmOperationDescriptionProperties:
      type: object
      description: Properties available for a Microsoft.Web resource provider operation.
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
          description: Resource metrics service provided by Microsoft.Insights resource provider.
    CsmOperationDisplay:
      type: object
      description: Meta data about operation used for display in portal.
      properties:
        provider:
          type: string
        resource:
          type: string
        operation:
          type: string
        description:
          type: string
    MetricAvailability:
      type: object
      description: Retention policy of a resource metric.
      properties:
        timeGrain:
          type: string
        blobDuration:
          type: string
    DefaultErrorResponseError:
      type: object
      description: Error model.
      properties:
        code:
          type: string
          description: Standardized string to programmatically identify the error.
          readOnly: true
        message:
          type: string
          description: Detailed error description and debugging information.
          readOnly: true
        target:
          type: string
          description: Detailed error description and debugging information.
          readOnly: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/DefaultErrorResponseErrorDetailsItem'
          x-ms-identifiers: []
        innererror:
          type: string
          description: More information to debug error.
          readOnly: true
    ServiceSpecification:
      type: object
      description: Resource metrics service provided by Microsoft.Insights resource provider.
      properties:
        metricSpecifications:
          type: array
          items:
            $ref: '#/components/schemas/MetricSpecification'
          x-ms-identifiers:
          - name
        logSpecifications:
          type: array
          items:
            $ref: '#/components/schemas/LogSpecification'
          x-ms-identifiers:
          - name
    CsmOperationCollection:
      type: object
      description: Collection of Azure resource manager operation metadata.
      properties:
        value:
          type: array
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/CsmOperationDescription'
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: Link to next page of resources.
          readOnly: true
      required:
      - value
    Dimension:
      type: object
      description: 'Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app,

        where instance name is dimension of the metric HTTP request'
      properties:
        name:
          type: string
        displayName:
          type: string
        internalName:
          type: string
        toBeExportedForShoebox:
          type: boolean
    LogSpecification:
      type: object
      description: Log Definition of a single resource metric.
      properties:
        name:
          type: string
        displayName:
          type: string
        blobDuration:
          type: string
        logFilterPattern:
          type: string
    DefaultErrorResponseErrorDetailsItem:
      type: object
      description: Detailed errors.
      properties:
        code:
          type: string
          description: Standardized string to programmatically identify the error.
          readOnly: true
        message:
          type: string
          description: Detailed error description and debugging information.
          readOnly: true
        target:
          type: string
          description: Detailed error description and debugging information.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
